Repository LiskArchive/lisk-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, tslint --format verbose

.lintstagedrc.json:

{
	"*.js": ["prettier --write", "eslint"],
	"*.ts": ["prettier --write", "tslint --format verbose"],
	"*.{json,md}": ["prettier --write"]
}

Move delegateListRoundOffset to constant_schema
  framework/src/application/schema/application_config_schema.js
  framework/src/application/schema/constants_schema.js
  framework/test/fixtures/config/devnet/config.json
Due: prettier --write, eslint

Update jest snapshots after moving delegateListRoundOffset to constants
  framework/test/jest/unit/specs/application/__snapshots__/application.spec.js.snap
  framework/test/jest/unit/specs/application/schema/__snapshots__/application_schema.spec.js.snap
  framework/test/jest/unit/specs/application/schema/__snapshots__/constants_schema.spec.js.snap
Due: none

Add dpos function to generate random seeds
  elements/lisk-dpos/src/random_seed.ts
  elements/lisk-dpos/src/rounds.ts
  elements/lisk-dpos/src/types.ts
Due: prettier --write, tslint --format verbose

Update todo test
  elements/lisk-transactions/test/15_pom_transaction.spec.ts
Due: prettier --write, tslint --format verbose

Fix old dpos tests by adding empty seedReveal
  elements/lisk-dpos/test/unit/apply.spec.ts
  elements/lisk-dpos/test/unit/vote_weight_snapshot.spec.ts
Due: prettier --write, tslint --format verbose

:recycle: Update function name and fix typo
  elements/lisk-dpos/src/delegates_list.ts
  elements/lisk-dpos/src/dpos.ts
  elements/lisk-dpos/test/unit/apply.spec.ts
Due: prettier --write, tslint --format verbose

Remove deprecated usages of maxTransactionsPerBlock from tests
  framework/test/jest/unit/specs/application/node/synchronizer/block_synchronization_mechanism/block_synchronization_mechanism.spec.js
  framework/test/jest/unit/specs/application/node/synchronizer/fast_chain_switching_mechanism/fast_chain_switching_mechanism.spec.js
Due: prettier --write, eslint

Fix a wrong parameter type bug in random seed generator
  protocol-specs/generators/dpos_random_seed_generation/index.js
Due: prettier --write, eslint

Update random seed generators output
  protocol-specs/generator_outputs/dpos_random_seed_generation/dpos_random_seed_generation_invalid_seed_reveal.json
  protocol-specs/generator_outputs/dpos_random_seed_generation/dpos_random_seed_generation_not_forged_earlier.json
  protocol-specs/generator_outputs/dpos_random_seed_generation/dpos_random_seed_generation_other_rounds.json
Due: prettier --write

Update bft values
  protocol-specs/generator_outputs/proof_of_misbehavior_transaction/proof_of_misbehavior_transaction_scenario_1.json
  protocol-specs/generator_outputs/proof_of_misbehavior_transaction/proof_of_misbehavior_transaction_scenario_3.json
  protocol-specs/generators/proof_of_misbehavior_transaction/index.js
Due: prettier --write, eslint

Update introduction text in swagger.yml
  framework/src/modules/http_api/schema/swagger.yml
Due: none

Update test wording
  elements/lisk-transactions/test/15_pom_transaction.spec.ts
Due: prettier --write, tslint --format verbose

Update scenario 3
  elements/lisk-transactions/test/15_pom_transaction.spec.ts
  protocol-specs/generator_outputs/proof_of_misbehavior_transaction/proof_of_misbehavior_transaction_scenario_3.json
  protocol-specs/generators/proof_of_misbehavior_transaction/index.js
Due: prettier --write, eslint, tslint --format verbose

Add test specs for random seeds
  elements/lisk-dpos/src/random_seed.ts
  elements/lisk-dpos/test/fixtures/dpos_random_seed_generation
  elements/lisk-dpos/test/unit/random_seed.spec.ts
Due: prettier --write, tslint --format verbose

Undo changes in swagger schema
  framework/src/modules/http_api/schema/swagger.yml
Due: none

Update structure of random seed spec
  elements/lisk-dpos/test/unit/random_seed.spec.ts
Due: prettier --write, tslint --format verbose

Add debug library to random seed
  elements/lisk-dpos/src/random_seed.ts
Due: prettier --write, tslint --format verbose

Show votes on /accounts HTTP API endpoint
  framework/src/modules/http_api/controllers/accounts.js
Due: prettier --write, eslint

Update the usage of actual random seed in delegate info
  elements/lisk-dpos/src/delegates_info.ts
Due: prettier --write, tslint --format verbose

Update dpos tests with change of random seeds
  elements/lisk-dpos/test/unit/apply.spec.ts
  elements/lisk-dpos/test/unit/vote_weight_snapshot.spec.ts
Due: prettier --write, tslint --format verbose

Add isStandbyDelegate func in dpos
  elements/lisk-dpos/src/dpos.ts
Due: prettier --write, tslint --format verbose

:recycle: Update framework config structure
  elements/lisk-chain/src/chain.ts
  elements/lisk-chain/test/unit/chain.spec.ts
  elements/lisk-chain/test/unit/process.spec.ts
  elements/lisk-chain/test/unit/transactions.spec.ts
  framework/src/application/application.js
  framework/src/application/network/network.js
  framework/src/application/node/node.js
  framework/src/application/node/transport/broadcaster.js
  framework/src/application/node/transport/transport.js
  framework/src/application/schema/application_config_schema.js
  framework/src/application/schema/constants_schema.js
  framework/src/modules/http_api/controllers/voters.js
  framework/test/fixtures/config/devnet/config.json
  framework/test/fixtures/node.js
  framework/test/jest/unit/specs/application/__snapshots__/application.spec.js.snap
  framework/test/jest/unit/specs/application/application.spec.js
  framework/test/jest/unit/specs/application/configurator/configurator.spec.js
  framework/test/jest/unit/specs/application/node/node.spec.js
  framework/test/jest/unit/specs/application/node/synchronizer/block_synchronization_mechanism/block_synchronization_mechanism.spec.js
  framework/test/jest/unit/specs/application/node/synchronizer/fast_chain_switching_mechanism/fast_chain_switching_mechanism.spec.js
  framework/test/jest/unit/specs/application/node/synchronizer/synchronizer.spec.js
  framework/test/jest/unit/specs/application/schema/__snapshots__/application_schema.spec.js.snap
  framework/test/jest/unit/specs/application/schema/__snapshots__/constants_schema.spec.js.snap
  framework/test/jest/unit/specs/application/transport/transport.spec.js
  framework/test/mocha/functional/http/get/node/node.js
  framework/test/mocha/functional/http/get/peers.js
  framework/test/mocha/functional/http/get/votes.js
  framework/test/test_app/app.js
  framework/test/utils/configs/config_constants.js
  framework/test/utils/configs/config_node.js
  framework/test/utils/constants.js
  framework/test/utils/legacy/modules_loader.js
  framework/test/utils/node/node.js
  sdk/src/samples/config_devnet.json
Due: prettier --write, eslint, tslint --format verbose

Add accoun http controller test
  framework/test/mocha/unit/modules/http_api/controllers/accounts.js
Due: prettier --write, eslint

Add delegate propertiy to account http api endpoint
  framework/src/modules/http_api/controllers/accounts.js
  framework/test/mocha/unit/modules/http_api/controllers/accounts.js
Due: prettier --write, eslint

Update delegate controller to return new properties
  framework/src/modules/http_api/controllers/delegates.js
  framework/test/mocha/unit/modules/http_api/controllers/delegates.js
Due: prettier --write, eslint

Update random seed code as per feedback
  elements/lisk-dpos/src/delegates_info.ts
  elements/lisk-dpos/src/random_seed.ts
  elements/lisk-dpos/src/types.ts
  elements/lisk-dpos/test/utils/state_store_mock.ts
Due: prettier --write, tslint --format verbose

Update the random seed implementation based on condition
  elements/lisk-dpos/src/random_seed.ts
Due: prettier --write, tslint --format verbose

:seedling: Implement dpos complaint check
  elements/lisk-dpos/src/dpos.ts
  elements/lisk-dpos/src/types.ts
Due: prettier --write, tslint --format verbose

:seedling: Add block header fixture
  elements/lisk-dpos/test/utils/block_headers.ts
Due: prettier --write, tslint --format verbose

:seedling: Add unit test for dpos complaint check
  elements/lisk-dpos/test/unit/check_dpos_complaint.spec.ts
Due: prettier --write, tslint --format verbose

:recycle: Update config passing and variable
  framework/src/application/application.js
  framework/src/application/node/transport/broadcaster.js
  framework/src/application/schema/application_config_schema.js
  framework/test/utils/legacy/modules_loader.js
  framework/test/utils/node/node.js
Due: prettier --write, eslint

:recycle: Integrate DPoS punishment
  framework/src/application/node/block_processor_v2.js
  framework/src/application/node/processor/processor.js
Due: prettier --write, eslint

:seedling: Update dpos unit test
  elements/lisk-dpos/test/unit/apply.spec.ts
  elements/lisk-dpos/test/unit/vote_weight_snapshot.spec.ts
  elements/lisk-dpos/test/utils/state_store_mock.ts
Due: prettier --write, tslint --format verbose

:white_check_mark: Update framework test to work with DPoS complaint
  framework/test/jest/unit/specs/application/node/block_processor_v2.spec.js
  framework/test/jest/unit/specs/application/node/processor/processor.spec.js
Due: prettier --write, eslint

:recycle: Update comment and preimage check
  elements/lisk-dpos/src/dpos.ts
  elements/lisk-dpos/test/utils/block_headers.ts
Due: prettier --write, tslint --format verbose

:recycle: Address review comments
  elements/lisk-dpos/src/dpos.ts
  elements/lisk-dpos/test/unit/check_dpos_complaint.spec.ts
  elements/lisk-dpos/test/utils/block_headers.ts
Due: prettier --write, tslint --format verbose

:recycle: Fix deep scan report
  framework/src/application/node/block_processor_v2.js
Due: prettier --write, eslint

:recycle: Fix test to send correct lastBlockHeaders
  elements/lisk-dpos/test/unit/check_dpos_complaint.spec.ts
Due: prettier --write, tslint --format verbose

:recycle: Update buildversion example
  framework/src/application/schema/application_config_schema.js
Due: prettier --write, eslint
