Repository LiskArchive/lisk-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, tslint --format verbose

.lintstagedrc.json:

{
	"*.js": ["prettier --write", "eslint"],
	"*.ts": ["prettier --write", "tslint --format verbose"],
	"*.{json,md}": ["prettier --write"]
}

Add forger sample generator and a static list of forgers
  protocol-specs/generators/dpos_random_seed_generation/forger_list.json
  protocol-specs/generators/dpos_random_seed_generation/sample_generator.js
Due: prettier --write, eslint

Add random seed generator for first round and second round case
  protocol-specs/generators/dpos_random_seed_generation/index.js
Due: prettier --write, eslint

Add generator output for first and second round for random seed
  protocol-specs/generator_outputs/dpos_random_seed_generation/dpos_random_seed_generation_first_round.json
  protocol-specs/generator_outputs/dpos_random_seed_generation/dpos_random_seed_generation_second_round.json
Due: prettier --write

:seedling: Add seed reveal in the block header
  framework/src/application/node/block_processor_v2.js
  framework/src/application/node/forger/constant.js
  framework/src/application/node/forger/forger.js
  framework/src/application/node/node.js
  framework/src/application/schema/application_config_schema.js
  framework/src/application/schema/genesis_block_schema.js
  framework/src/application/storage/entities/block.js
  framework/src/application/storage/migrations/node/20200327000000_add_seed_reveal_block_header.sql
  framework/src/components/storage/entities/block.js
  framework/src/components/storage/sql/blocks/get.sql
  framework/test/fixtures/blocks.js
  framework/test/fixtures/config/devnet/config.json
  framework/test/fixtures/config/devnet/genesis_block.json
  framework/test/jest/unit/specs/application/__snapshots__/application.spec.js.snap
  framework/test/jest/unit/specs/application/node/block_processor_v2.spec.js
  framework/test/jest/unit/specs/application/node/forger/forger.spec.js
  framework/test/jest/unit/specs/application/node/synchronizer/block.js
  framework/test/jest/unit/specs/application/schema/__snapshots__/application_schema.spec.js.snap
  framework/test/jest/unit/specs/application/schema/__snapshots__/genesis_block_schema.spec.js.snap
  framework/test/mocha/data/genesis_delegates.json
  framework/test/mocha/unit/application/node/components/storage/entities/block.js
  framework/test/mocha/unit/components/storage/entities/block.js
  framework/test/utils/node/block.js
Due: prettier --write, eslint

Add random seed generator for invalid seed reveal
  protocol-specs/generator_outputs/dpos_random_seed_generation/dpos_random_seed_generation_invalid_seed_reveal.json
  protocol-specs/generator_outputs/dpos_random_seed_generation/dpos_random_seed_generation_not_passed_middle_of_round.json
  protocol-specs/generators/dpos_random_seed_generation/README.md
  protocol-specs/generators/dpos_random_seed_generation/index.js
Due: prettier --write, eslint

Add random seed generator for case when delegate not forged earlier
  protocol-specs/generator_outputs/dpos_random_seed_generation/dpos_random_seed_generation_not_forged_earlier.json
  protocol-specs/generators/dpos_random_seed_generation/index.js
Due: prettier --write, eslint

Add test skeleton for random seed
  elements/lisk-dpos/test/unit/random_seed.spec.ts
Due: prettier --write, tslint --format verbose

:recycle: Update variable names, and refactor code
  framework/src/application/node/forger/constant.js
  framework/src/application/node/forger/forger.js
  framework/test/jest/unit/specs/application/node/forger/forger.spec.js
Due: prettier --write, eslint

Grammar/punctuation fixes/updates in swagger.yml
  framework/src/modules/http_api/schema/swagger.yml
Due: none

:recycle: Fix variable names, test descriptions
  elements/lisk-dpos/src/constants.ts
  elements/lisk-dpos/src/delegates_list.ts
  elements/lisk-dpos/test/unit/apply.spec.ts
  elements/lisk-dpos/test/unit/vote_weight_snapshot.spec.ts
Due: prettier --write, tslint --format verbose

:recycle: Update file name
  framework/src/application/storage/migrations/node/20200327000000_add_seed_reveal_to_block_header.sql
Due: none

Update elements/lisk-dpos/src/delegates_list.ts
  elements/lisk-dpos/src/delegates_list.ts
Due: prettier --write, tslint --format verbose

:recycle: Update error message and variable names
  elements/lisk-transactions/src/14_unlock_transaction.ts
  elements/lisk-transactions/src/unlock_token.ts
  elements/lisk-transactions/test/14_unlock_transaction.spec.ts
  elements/lisk-transactions/test/unlock_token.spec.ts
Due: prettier --write, tslint --format verbose

:recycle: Update constant name
  elements/lisk-transactions/src/14_unlock_transaction.ts
Due: prettier --write, tslint --format verbose

Update variable and function names to be more descriptive
  protocol-specs/generators/dpos_random_seed_generation/index.js
Due: prettier --write, eslint

Update the second round case to generic multi round case
  protocol-specs/generator_outputs/dpos_random_seed_generation/dpos_random_seed_generation_other_rounds.json
  protocol-specs/generator_outputs/dpos_random_seed_generation/dpos_random_seed_generation_second_round.json
  protocol-specs/generators/dpos_random_seed_generation/index.js
Due: prettier --write, eslint

Update the generator output to match the specification
  protocol-specs/generator_outputs/dpos_random_seed_generation/dpos_random_seed_generation_first_round.json
  protocol-specs/generator_outputs/dpos_random_seed_generation/dpos_random_seed_generation_invalid_seed_reveal.json
  protocol-specs/generator_outputs/dpos_random_seed_generation/dpos_random_seed_generation_not_forged_earlier.json
  protocol-specs/generator_outputs/dpos_random_seed_generation/dpos_random_seed_generation_not_passed_middle_of_round.json
  protocol-specs/generator_outputs/dpos_random_seed_generation/dpos_random_seed_generation_other_rounds.json
  protocol-specs/generators/dpos_random_seed_generation/index.js
Due: prettier --write, eslint

Adding POM transaction protocol-specs
  protocol-specs/generator_outputs/proof_of_misbehavior_transaction/proof_of_misbehavior_transaction.json
  protocol-specs/generators/proof_of_misbehavior_transaction/index.js
Due: prettier --write, eslint

Add scenario 3 POM protocol-spec
  protocol-specs/generator_outputs/proof_of_misbehavior_transaction/proof_of_misbehavior_transaction_scenario_3.json
  protocol-specs/generators/proof_of_misbehavior_transaction/index.js
Due: prettier --write, eslint

Add scenario 2 POM protocol-spec
  protocol-specs/generator_outputs/proof_of_misbehavior_transaction/proof_of_misbehavior_transaction_scenario_1.json
  protocol-specs/generator_outputs/proof_of_misbehavior_transaction/proof_of_misbehavior_transaction_scenario_2.json
  protocol-specs/generators/proof_of_misbehavior_transaction/index.js
Due: prettier --write, eslint

Update the spec generator and output as per feedback
  protocol-specs/generator_outputs/dpos_random_seed_generation/dpos_random_seed_generation_first_round.json
  protocol-specs/generator_outputs/dpos_random_seed_generation/dpos_random_seed_generation_invalid_seed_reveal.json
  protocol-specs/generator_outputs/dpos_random_seed_generation/dpos_random_seed_generation_not_forged_earlier.json
  protocol-specs/generator_outputs/dpos_random_seed_generation/dpos_random_seed_generation_other_rounds.json
  protocol-specs/generators/dpos_random_seed_generation/index.js
Due: prettier --write, eslint

Update hashing function into small utility functions
  protocol-specs/generators/dpos_random_seed_generation/index.js
Due: prettier --write, eslint

:seedling: Add unlock transaction command
  commander/src/commands/transaction/create.ts
  commander/src/commands/transaction/create/unlock.ts
  commander/src/utils/flags.ts
Due: prettier --write, tslint --format verbose

Add protocol spec for uniform shuffling of delegate list
  protocol-specs/generators/dpos_delegate_shuffling/README.md
  protocol-specs/generators/dpos_delegate_shuffling/delegate_address_list.json
  protocol-specs/generators/dpos_delegate_shuffling/index.js
  protocol-specs/generators/dpos_delegate_shuffling/sample_generator.js
Due: prettier --write, eslint

Add output file for delegate shuffling protocol spec
  protocol-specs/generator_outputs/dpos_delegate_shuffling/uniformly_shuffled_delegate_list.json
Due: prettier --write

:recycle: Fix create command test
  commander/test/commands/transaction/create.test.ts
Due: prettier --write, tslint --format verbose

:recycle: Add unit test for unlock command
  commander/test/commands/transaction/create/unlock.test.ts
Due: prettier --write, tslint --format verbose

Use buffers for generating seed source
  protocol-specs/generator_outputs/dpos_delegate_shuffling/uniformly_shuffled_delegate_list.json
  protocol-specs/generators/dpos_delegate_shuffling/index.js
Due: prettier --write, eslint

Use dot notation to assign roundHash value
  protocol-specs/generators/dpos_delegate_shuffling/index.js
Due: prettier --write, eslint

:recycle: Remove only from test
  commander/test/commands/transaction/create/unlock.test.ts
Due: prettier --write, tslint --format verbose

Update logic to find last forged block
  protocol-specs/generator_outputs/dpos_random_seed_generation/dpos_random_seed_generation_invalid_seed_reveal.json
  protocol-specs/generator_outputs/dpos_random_seed_generation/dpos_random_seed_generation_not_forged_earlier.json
  protocol-specs/generator_outputs/dpos_random_seed_generation/dpos_random_seed_generation_other_rounds.json
  protocol-specs/generators/dpos_random_seed_generation/index.js
Due: prettier --write, eslint

Update seed selection to utilize the code
  protocol-specs/generator_outputs/dpos_random_seed_generation/dpos_random_seed_generation_invalid_seed_reveal.json
  protocol-specs/generator_outputs/dpos_random_seed_generation/dpos_random_seed_generation_not_forged_earlier.json
  protocol-specs/generator_outputs/dpos_random_seed_generation/dpos_random_seed_generation_other_rounds.json
  protocol-specs/generators/dpos_random_seed_generation/index.js
Due: prettier --write, eslint

:recycle: Address review comments
  commander/src/commands/transaction/create/unlock.ts
  commander/test/commands/transaction/create.test.ts
Due: prettier --write, tslint --format verbose

:recycle: Convert amount from LSK to Beddows
  commander/src/commands/transaction/create/unlock.ts
  commander/test/commands/transaction/create/unlock.test.ts
Due: prettier --write, tslint --format verbose

:recycle: Remove create command arg length check
  commander/src/commands/transaction/create.ts
  commander/test/commands/transaction/create.test.ts
Due: prettier --write, tslint --format verbose

:recycle: Remove unwanted newline replacement
  commander/src/commands/transaction/create/unlock.ts
Due: prettier --write, tslint --format verbose

Update the random seed test sepc skeleton
  elements/lisk-dpos/test/unit/random_seed.spec.ts
Due: prettier --write, tslint --format verbose

:recycle: Remove variable networkIdentifier in the base transaction
  elements/lisk-transactions/src/base_transaction.ts
Due: prettier --write, tslint --format verbose

Update vote command for new vote transaction
  commander/src/commands/transaction/create.ts
  commander/src/commands/transaction/create/vote.ts
  commander/src/utils/flags.ts
  elements/lisk-transactions/src/index.ts
Due: prettier --write, tslint --format verbose

:recycle: Remove the network identifier while instantiating the transaction
  elements/lisk-transactions/src/12_multisignature_transaction.ts
  elements/lisk-transactions/src/cast_votes.ts
  elements/lisk-transactions/src/register_delegate.ts
  elements/lisk-transactions/src/register_multisignature_account.ts
  elements/lisk-transactions/src/transfer.ts
  elements/lisk-transactions/src/unlock_token.ts
Due: prettier --write, tslint --format verbose
