Repository LiskArchive/lisk-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, tslint --format verbose

.lintstagedrc.json:

{
	"*.js": ["prettier --write", "eslint"],
	"*.ts": ["prettier --write", "tslint --format verbose"],
	"*.{json,md}": ["prettier --write"]
}

Replace missing signatures with empty string when signing multisig transaction
  elements/lisk-transactions/src/sign_multi_signature_transaction.ts
Due: prettier --write, tslint --format verbose

Add tests for signatures array sanitization
  elements/lisk-transactions/test/sign_multi_signature_transaction.spec.ts
Due: prettier --write, tslint --format verbose

Update elements/lisk-transactions/src/sign_multi_signature_transaction.ts
  elements/lisk-transactions/src/sign_multi_signature_transaction.ts
Due: prettier --write, tslint --format verbose

:recycle: Update error message
  elements/lisk-transaction-pool/src/transaction_pool.ts
Due: prettier --write, tslint --format verbose

Remove transaction id validation
  elements/lisk-transactions/src/schema.ts
Due: prettier --write, tslint --format verbose

Remove id requirement for signing multisig transactions and add test for correct signature position based on key sorting
  elements/lisk-transactions/src/sign_multi_signature_transaction.ts
  elements/lisk-transactions/test/sign_multi_signature_transaction.spec.ts
Due: prettier --write, tslint --format verbose

Update elements/lisk-transaction-pool/src/transaction_pool.ts
  elements/lisk-transaction-pool/src/transaction_pool.ts
Due: prettier --write, tslint --format verbose

Return error if multisig registration signatures array contains empty string
  elements/lisk-transactions/src/12_multisignature_transaction.ts
  elements/lisk-transactions/test/12_multisignature_transaction.spec.ts
Due: prettier --write, tslint --format verbose

Update tx id validation in swagger and transport
  framework/src/application/node/transport/transport.js
  framework/src/modules/http_api/schema/swagger.yml
Due: prettier --write, eslint

Check for empty string when verifying mandatory signatures from multisignature account
  elements/lisk-transactions/src/utils/verify.ts
Due: prettier --write, tslint --format verbose

Update elements/lisk-transactions/src/utils/verify.ts
  elements/lisk-transactions/src/utils/verify.ts
Due: prettier --write, tslint --format verbose

Update min entrance fee for transaction pool
  elements/lisk-transaction-pool/src/transaction_pool.ts
Due: prettier --write, tslint --format verbose

Update transport tx id check
  framework/src/application/node/transport/transport.js
Due: prettier --write, eslint

Fix the unit test of transaction pool for min entrance fee
  elements/lisk-transaction-pool/test/unit/transaction_pool.spec.ts
Due: prettier --write, tslint --format verbose

Fix variable and the condition for incoming payload
  elements/lisk-p2p/src/peer_server/peer_server.ts
Due: prettier --write, tslint --format verbose

:bug: Fix getHighestCommonBlock and getBlockFromId handling
  elements/lisk-chain/src/chain.ts
  elements/lisk-chain/src/data_access/data_access.ts
  framework/src/application/node/synchronizer/block_synchronization_mechanism.js
  framework/src/application/node/synchronizer/fast_chain_switching_mechanism.js
  framework/src/application/node/transport/transport.js
Due: prettier --write, eslint, tslint --format verbose

:bug: Fix to init synchronizer before registering events
  framework/src/application/node/node.js
  framework/src/application/node/synchronizer/utils.js
Due: prettier --write, eslint

Update the default value for min remaining balance requirement
  elements/lisk-transactions/src/base_transaction.ts
  elements/lisk-transactions/test/base_transaction.spec.ts
  framework/test/mocha/functional/http/get/voters.js
  framework/test/mocha/functional/http/get/votes.js
  framework/test/mocha/functional/http/post/2.delegate.js
  framework/test/mocha/functional/http/post/3.votes.js
Due: prettier --write, eslint, tslint --format verbose

:recycle: Fix tests
  framework/src/application/node/transport/transport.js
  framework/test/jest/unit/specs/application/node/synchronizer/block_synchronization_mechanism/block_synchronization_mechanism.spec.js
  framework/test/jest/unit/specs/application/node/synchronizer/synchronizer.spec.js
  framework/test/jest/unit/specs/application/node/synchronizer/utils.spec.js
  framework/test/jest/unit/specs/application/node/transport/transport.spec.js
Due: prettier --write, eslint

Add missing id test to transport jest
  framework/test/jest/unit/specs/application/transport/transport.spec.js
Due: prettier --write, eslint

Update the verification of min balance and removed duplicate check
  elements/lisk-chain/test/unit/process.spec.ts
  elements/lisk-chain/test/unit/transactions.spec.ts
  elements/lisk-transactions/src/8_transfer_transaction.ts
  elements/lisk-transactions/test/8_transfer_transaction.spec.ts
Due: prettier --write, tslint --format verbose

Fix error messages
  elements/lisk-transactions/src/utils/sign_and_validate.ts
  elements/lisk-transactions/src/utils/verify.ts
  elements/lisk-transactions/test/base_transaction.spec.ts
Due: prettier --write, tslint --format verbose

:recycle: Update transaction pool to emit remove event and log them in framework
  elements/lisk-transaction-pool/src/transaction_list.ts
  elements/lisk-transaction-pool/src/transaction_pool.ts
  elements/lisk-transaction-pool/test/unit/transaction_list.spec.ts
  elements/lisk-transaction-pool/test/unit/transaction_pool.spec.ts
  framework/src/application/node/node.js
  framework/src/application/node/processor/processor.js
  framework/src/application/node/transport/transport.js
Due: prettier --write, eslint, tslint --format verbose

:recycle: Improve console log format
  framework/src/components/logger/logger.js
Due: prettier --write, eslint

:seedling: Update Framework and Lisk-chain to have updated account properties
  elements/lisk-chain/src/account.ts
  elements/lisk-chain/src/types.ts
  elements/lisk-chain/test/unit/account.spec.ts
  elements/lisk-chain/test/unit/state_store_account.spec.ts
  framework/src/application/storage/entities/account.js
  framework/src/application/storage/migrations/node/20200316000000_add_new_dpos_to_mem_accounts.sql
  framework/src/components/storage/entities/account.js
  framework/src/components/storage/sql/accounts/get.sql
  framework/test/jest/integration/specs/application/node/components/storage/entities/account/get.spec.js
  framework/test/jest/integration/specs/application/node/components/storage/entities/account/update.spec.js
  framework/test/mocha/unit/application/node/components/storage/entities/account.js
  framework/test/mocha/unit/components/storage/entities/account.js
  framework/test/utils/storage/pg-helper/index.js
Due: prettier --write, eslint, tslint --format verbose

:fire: Remove unnecessary methods
  elements/lisk-transaction-pool/src/types.ts
  elements/lisk-transaction-pool/test/utils/add_transaction_functions.ts
  elements/lisk-transactions/src/10_delegate_transaction.ts
  elements/lisk-transactions/src/11_vote_transaction.ts
  elements/lisk-transactions/src/base_transaction.ts
  elements/lisk-transactions/src/constants.ts
  elements/lisk-transactions/src/schema.ts
  elements/lisk-transactions/test/10_delegate_transaction.spec.ts
  elements/lisk-transactions/test/11_vote_transaction.spec.ts
  elements/lisk-transactions/test/12_multisignature_transaction.spec.ts
  elements/lisk-transactions/test/8_transfer_transaction.spec.ts
  elements/lisk-transactions/test/base_transaction.spec.ts
Due: prettier --write, tslint --format verbose

:fire: Remove transaction state store
  elements/lisk-chain/src/state_store/state_store.ts
  elements/lisk-chain/src/state_store/transaction_store.ts
  elements/lisk-chain/src/transactions/transactions_handlers.ts
  elements/lisk-chain/src/transactions/votes_weight.ts
  elements/lisk-chain/test/unit/state_store_transaction.spec.ts
  elements/lisk-chain/test/unit/transactions_handlers.spec.ts
Due: prettier --write, tslint --format verbose

:recycle: Fix not to expose serialize format outside of chain library
  elements/lisk-chain/src/data_access/data_access.ts
  elements/lisk-chain/src/transactions/transactions_handlers.ts
  elements/lisk-chain/test/unit/data_access/data_access.spec.ts
  elements/lisk-chain/test/unit/process.spec.ts
  elements/lisk-chain/test/unit/transactions.spec.ts
Due: prettier --write, tslint --format verbose

:recycle: Split constants and fix the license header
  elements/lisk-bft/test/unit/state_store_mock.ts
  elements/lisk-chain/src/chain.ts
  elements/lisk-chain/src/constants.ts
  elements/lisk-chain/src/data_access/data_access.ts
  elements/lisk-chain/src/index.ts
  elements/lisk-chain/src/state_store/consensus_state_store.ts
  elements/lisk-chain/test/unit/state_store_consensus_state.spec.ts
  framework/src/application/storage/entities/consensus_state.js
  framework/src/application/storage/migrations/node/20200316171515_create_consensus_state_table.sql
  framework/src/application/storage/sql/consensus_state/delete.sql
  framework/src/application/storage/sql/consensus_state/get.sql
  framework/src/application/storage/sql/consensus_state/upsert.sql
  framework/test/jest/integration/specs/application/node/components/storage/entities/consensus_state.spec.js
Due: prettier --write, eslint, tslint --format verbose

:recycle: Update variable name
  elements/lisk-transaction-pool/src/transaction_pool.ts
Due: prettier --write, tslint --format verbose

Update elements/lisk-chain/src/account.ts
  elements/lisk-chain/src/account.ts
Due: prettier --write, tslint --format verbose

Update framework/src/application/storage/entities/account.js
  framework/src/application/storage/entities/account.js
Due: prettier --write, eslint

:recycle: Add default values to entities
  framework/src/application/storage/entities/account.js
Due: prettier --write, eslint

:white_check_mark: Fix unit test
  framework/test/mocha/unit/application/node/components/storage/entities/account.js
Due: prettier --write, eslint

:white_check_mark: Add integration test for transaction order
  framework/test/jest/integration/specs/application/node/processor/transaction_order.spec.js
Due: prettier --write, eslint

:seedling: Add protocol spec and unit test template for unlock transaction
  elements/lisk-transactions/test/14_unlock_transaction.spec.ts
  protocol-specs/generator_outputs/unlock_transaction/unlock_transaction.json
  protocol-specs/generators/unlocking_transaction/README.md
  protocol-specs/generators/unlocking_transaction/index.js
Due: prettier --write, eslint, tslint --format verbose

:seedling: Add protocol spec and unit test template for new vote transaction
  elements/lisk-transactions/test/13_vote_transaction.spec.ts
  protocol-specs/generator_outputs/vote_transaction/vote_transaction_10_downvotes.json
  protocol-specs/generator_outputs/vote_transaction/vote_transaction_10_upvotes.json
  protocol-specs/generator_outputs/vote_transaction/vote_transaction_10_upvotes_and_10_downvotes.json
  protocol-specs/generators/vote_transaction/README.md
  protocol-specs/generators/vote_transaction/index.js
Due: prettier --write, eslint, tslint --format verbose

Update framework/test/jest/integration/specs/application/node/processor/transaction_order.spec.js
  framework/test/jest/integration/specs/application/node/processor/transaction_order.spec.js
Due: prettier --write, eslint
