Repository LiskArchive/lisk-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, tslint --format verbose

.lintstagedrc.json:

{
	"*.js": ["prettier --write", "eslint"],
	"*.ts": ["prettier --write", "tslint --format verbose"],
	"*.{json,md}": ["prettier --write"]
}

Add tests for isStandbyDelegate
  elements/lisk-dpos/src/dpos.ts
  elements/lisk-dpos/test/unit/is_standby_delegate.spec.ts
  elements/lisk-dpos/test/utils/delegates.ts
Due: prettier --write, tslint --format verbose

:recycle: Fix deep scan report
  elements/lisk-dpos/src/dpos.ts
  elements/lisk-dpos/src/types.ts
  elements/lisk-dpos/test/unit/apply.spec.ts
  elements/lisk-dpos/test/unit/vote_weight_snapshot.spec.ts
  framework/src/application/node/block_processor_v2.js
Due: prettier --write, eslint, tslint --format verbose

Use address instead of public key in the tests
  elements/lisk-dpos/src/dpos.ts
  elements/lisk-dpos/test/unit/is_standby_delegate.spec.ts
Due: prettier --write, tslint --format verbose

:recycle: Update config snapshot
  framework/test/jest/unit/specs/application/schema/__snapshots__/application_schema.spec.js.snap
Due: none

Remove getAddressFromPublicKey function and throw error when no forger list
  elements/lisk-dpos/src/dpos.ts
  elements/lisk-dpos/test/unit/get_min_height_active.spec.ts
  elements/lisk-dpos/test/unit/is_standby_delegate.spec.ts
  elements/lisk-dpos/test/utils/delegates.ts
Due: prettier --write, tslint --format verbose

Replace publicKey with address in tests
  elements/lisk-dpos/test/unit/get_min_height_active.spec.ts
  elements/lisk-dpos/test/unit/is_standby_delegate.spec.ts
  elements/lisk-dpos/test/utils/delegates.ts
Due: prettier --write, tslint --format verbose

Fix votes http api endpoint and add test
  framework/src/application/schema/constants_schema.js
  framework/src/modules/http_api/controllers/voters.js
  framework/src/modules/http_api/schema/swagger.yml
  framework/test/mocha/unit/modules/http_api/controllers/voters.js
Due: prettier --write, eslint

Update jest snapshots
  framework/test/jest/unit/specs/application/__snapshots__/application.spec.js.snap
  framework/test/jest/unit/specs/application/schema/__snapshots__/constants_schema.spec.js.snap
Due: none

:recycle: Update current and previous round check
  elements/lisk-dpos/src/dpos.ts
  elements/lisk-dpos/test/unit/check_dpos_complaint.spec.ts
Due: prettier --write, tslint --format verbose

Update jest snapshot
  framework/test/jest/unit/specs/application/__snapshots__/application.spec.js.snap
Due: none

:recycle: Update new block event log to debug
  framework/src/application/node/node.js
Due: prettier --write, eslint

:pencil2: Fix spelling mistakes
  commander/src/base.ts
  commander/src/utils/core/commons.ts
  elements/lisk-bft/src/finality_manager.ts
  elements/lisk-bft/src/fork_choice_rule.ts
  elements/lisk-bft/src/types.ts
  elements/lisk-bft/test/unit/finality_manager.spec.ts
  elements/lisk-chain/src/block_reward.ts
  elements/lisk-chain/src/data_access/cache/block.ts
  elements/lisk-chain/src/data_access/data_access.ts
  elements/lisk-chain/src/state_store/chain_state_store.ts
  elements/lisk-chain/src/state_store/consensus_state_store.ts
  elements/lisk-dpos/src/delegates_info.ts
  elements/lisk-dpos/src/delegates_list.ts
  elements/lisk-dpos/src/dpos.ts
  elements/lisk-elements/src/index.ts
  elements/lisk-elements/test/index.spec.ts
  elements/lisk-p2p/README.md
  elements/lisk-p2p/src/utils/misc.ts
  elements/lisk-transactions/README.md
  elements/lisk-transactions/src/12_multisignature_transaction.ts
  elements/lisk-transactions/src/base_transaction.ts
  elements/lisk-transactions/src/register_multisignature_account.ts
  framework/README.md
  framework/src/application/application.js
  framework/src/application/node/synchronizer/block_synchronization_mechanism.js
  framework/src/application/node/synchronizer/fast_chain_switching_mechanism.js
  framework/src/application/schema/application_config_schema.js
  framework/src/components/README.md
  framework/src/components/cache/cache.js
  framework/src/components/storage/README.md
  framework/src/components/storage/adapters/pgp_adapter.js
  framework/src/modules/http_api/helpers/swagger.js
  framework/src/modules/http_api/init_steps/bootstrap_swagger.js
Due: prettier --write, eslint, tslint --format verbose

:seedling: Add lastReward property to the chain state
  elements/lisk-chain/src/chain.ts
  elements/lisk-chain/src/state_store/chain_state_store.ts
  elements/lisk-chain/src/state_store/state_store.ts
  elements/lisk-chain/test/unit/chain.spec.ts
  elements/lisk-chain/test/unit/process.spec.ts
  elements/lisk-chain/test/unit/state_store_account.spec.ts
  elements/lisk-chain/test/unit/state_store_chain_state.spec.ts
  elements/lisk-chain/test/unit/state_store_consensus_state.spec.ts
  elements/lisk-transactions/src/base_transaction.ts
  elements/lisk-transactions/test/utils/state_store_mock.ts
Due: prettier --write, tslint --format verbose

Fix voters controller and add votes for delegate filter
  framework/src/components/storage/entities/account.js
  framework/src/modules/http_api/controllers/voters.js
Due: prettier --write, eslint

Add index to votes column for speeding up voters search
  framework/src/application/storage/migrations/node/20200403110000_add_index_to_votes.sql
Due: none

:recycle: Remove registeredHeight from delegate accounts
  elements/lisk-chain/src/account.ts
  elements/lisk-chain/src/types.ts
  elements/lisk-chain/test/unit/account.spec.ts
  elements/lisk-transactions/src/transaction_types.ts
  elements/lisk-transactions/test/14_unlock_transaction.spec.ts
  elements/lisk-transactions/test/utils/state_store_mock.ts
  framework/src/application/storage/entities/account.js
  framework/test/jest/integration/specs/application/node/components/storage/entities/account/update.spec.js
  framework/test/mocha/unit/application/node/components/storage/entities/account.js
Due: prettier --write, eslint, tslint --format verbose

Add partial test
  framework/test/mocha/unit/modules/http_api/controllers/voters.js
Due: prettier --write, eslint

:recycle: Remove unwanted application events
  framework/src/application/application.js
  framework/src/application/node/forger/forger.js
  framework/src/application/node/node.js
  framework/src/modules/http_api/controllers/node.js
Due: prettier --write, eslint

Add unit tests for /voters
  framework/src/modules/http_api/controllers/voters.js
  framework/test/mocha/functional/http/get/votes.js
  framework/test/mocha/unit/modules/http_api/controllers/voters.js
Due: prettier --write, eslint

:recycle: Rename lastReward to lastBlockReward
  elements/lisk-chain/src/chain.ts
  elements/lisk-chain/src/state_store/chain_state_store.ts
  elements/lisk-chain/src/state_store/state_store.ts
  elements/lisk-chain/test/unit/chain.spec.ts
  elements/lisk-chain/test/unit/process.spec.ts
  elements/lisk-chain/test/unit/state_store_account.spec.ts
  elements/lisk-chain/test/unit/state_store_chain_state.spec.ts
  elements/lisk-chain/test/unit/state_store_consensus_state.spec.ts
  elements/lisk-transactions/src/base_transaction.ts
  elements/lisk-transactions/test/utils/state_store_mock.ts
Due: prettier --write, tslint --format verbose

:recycle: Update events and publish fork events
  framework/src/application/application.js
  framework/src/application/node/node.js
  framework/src/application/node/processor/processor.js
  framework/src/application/node/synchronizer/base_synchronizer.js
  framework/src/application/node/synchronizer/block_synchronization_mechanism.js
  framework/src/application/node/synchronizer/fast_chain_switching_mechanism.js
  framework/src/application/node/transport/transport.js
  framework/src/modules/http_api/init_steps/subscribe_to_events.js
  framework/test/jest/unit/specs/application/node/processor/processor.spec.js
  framework/test/jest/unit/specs/application/node/synchronizer/block_synchronization_mechanism/block_synchronization_mechanism.spec.js
  framework/test/jest/unit/specs/application/transport/transport.spec.js
  framework/test/mocha/unit/modules/http_api/init_steps/subscribe_to_events.js
Due: prettier --write, eslint

Update framework/src/modules/http_api/schema/swagger.yml
  framework/src/modules/http_api/schema/swagger.yml
Due: none

Apply suggestions from code review
  framework/src/modules/http_api/schema/swagger.yml
Due: none

:white_check_mark: Update unit test
  framework/test/jest/unit/specs/application/node/processor/processor.spec.js
  framework/test/mocha/unit/modules/http_api/init_steps/subscribe_to_events.js
Due: prettier --write, eslint

Add tests for new filter votes_for_delegate in account entity and correct issues in fixtures
  framework/test/fixtures/accounts.js
  framework/test/mocha/unit/components/storage/entities/account.js
Due: prettier --write, eslint

Fix account fixture
  framework/test/fixtures/accounts.js
Due: prettier --write, eslint

:recycle: Update event format from camelCase to colon
  elements/lisk-p2p/src/events.ts
  framework/src/application/application.js
  framework/src/application/network/network.js
  framework/src/application/node/node.js
  framework/src/application/node/processor/processor.js
  framework/src/application/node/rebuilder.js
  framework/src/application/node/synchronizer/base_synchronizer.js
  framework/src/application/node/synchronizer/block_synchronization_mechanism.js
  framework/src/application/node/synchronizer/fast_chain_switching_mechanism.js
  framework/src/application/node/transport/transport.js
  framework/src/modules/http_api/http_api.js
  framework/src/modules/http_api/init_steps/subscribe_to_events.js
  framework/test/jest/unit/specs/application/node/node.spec.js
  framework/test/jest/unit/specs/application/node/processor/processor.spec.js
  framework/test/jest/unit/specs/application/node/synchronizer/block_synchronization_mechanism/block_synchronization_mechanism.spec.js
  framework/test/jest/unit/specs/application/transport/transport.spec.js
  framework/test/mocha/unit/modules/http_api/http_api.js
  framework/test/mocha/unit/modules/http_api/init_steps/subscribe_to_events.js
Due: prettier --write, eslint, tslint --format verbose

Fix grammar issues in swagger - Closes #5061 (#5065)
  framework/src/modules/http_api/schema/swagger.yml
Due: none

Implement proof-of-misbehavior transaction validation
  elements/lisk-transactions/src/15_proof_of_misbehavior_transaction.ts
Due: prettier --write, tslint --format verbose

Create schema validation and asset serialization for pom transaction
  elements/lisk-transactions/src/15_proof_of_misbehavior_transaction.ts
Due: prettier --write, tslint --format verbose

Implement getBlockBytes for pom transaction asset serialization
  elements/lisk-transactions/src/transaction_types.ts
  elements/lisk-transactions/src/utils/get_block_bytes.ts
  elements/lisk-transactions/src/utils/index.ts
Due: prettier --write, tslint --format verbose

Add isPunished and getBlockBytes utility functions
  elements/lisk-transactions/src/14_unlock_transaction.ts
  elements/lisk-transactions/src/utils/get_block_bytes.ts
  elements/lisk-transactions/src/utils/index.ts
  elements/lisk-transactions/src/utils/is_punished.ts
Due: prettier --write, tslint --format verbose

Update sender and delegate account state
  elements/lisk-transactions/src/15_proof_of_misbehavior_transaction.ts
Due: prettier --write, tslint --format verbose

Check block validity in pom apply asset
  elements/lisk-transactions/src/15_proof_of_misbehavior_transaction.ts
Due: prettier --write, tslint --format verbose
