Repository LiskArchive/lisk-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, tslint --format verbose

.lintstagedrc.json:

{
	"*.js": ["prettier --write", "eslint"],
	"*.ts": ["prettier --write", "tslint --format verbose"],
	"*.{json,md}": ["prettier --write"]
}

Update elements/lisk-transactions/test/14_unlock_transaction.spec.ts
  elements/lisk-transactions/test/14_unlock_transaction.spec.ts
Due: prettier --write, tslint --format verbose

:recycle: Fix parameters
  framework/test/jest/integration/specs/application/node/processor/transaction_order.spec.js
Due: prettier --write, eslint

:fire: Remove unnecessary test
  elements/lisk-transactions/test/13_vote_transaction.spec.ts
Due: prettier --write, tslint --format verbose

:recycle: Add sender in the list
  protocol-specs/generator_outputs/unlock_transaction/unlock_transaction.json
  protocol-specs/generators/unlocking_transaction/index.js
Due: prettier --write, eslint

:bug: Fix variable usage
  protocol-specs/generator_outputs/unlock_transaction/unlock_transaction.json
  protocol-specs/generators/unlocking_transaction/index.js
Due: prettier --write, eslint

:recycle: Fix license year
  elements/lisk-transactions/test/13_vote_transaction.spec.ts
  protocol-specs/generators/vote_transaction/index.js
Due: prettier --write, eslint, tslint --format verbose

:recycle: Fix license year
  elements/lisk-transactions/test/14_unlock_transaction.spec.ts
  protocol-specs/generators/unlocking_transaction/index.js
Due: prettier --write, eslint, tslint --format verbose

Add tests for transaction minFee
  elements/lisk-transactions/test/10_delegate_transaction.spec.ts
  elements/lisk-transactions/test/base_transaction.spec.ts
Due: prettier --write, tslint --format verbose

:fire: Remove delegate passphrase
  protocol-specs/generator_outputs/unlock_transaction/unlock_transaction.json
  protocol-specs/generators/unlocking_transaction/index.js
Due: prettier --write, eslint

Update default value of DEFAULT_MINIMUM_REPLACEMENT_FEE_DIFFERENCE
  elements/lisk-transaction-pool/src/transaction_list.ts
Due: prettier --write, tslint --format verbose

Fix transactionList test and add missing scenario
  elements/lisk-transaction-pool/test/unit/transaction_list.spec.ts
Due: prettier --write, tslint --format verbose

:seedling: Add new vote transaction
  elements/lisk-chain/src/account.ts
  elements/lisk-cryptography/src/buffer.ts
  elements/lisk-transactions/fixtures/vote_transaction
  elements/lisk-transactions/src/13_vote_transaction.ts
  elements/lisk-transactions/src/constants.ts
  elements/lisk-transactions/src/index.ts
  elements/lisk-transactions/src/legacy_cast_votes.ts
  elements/lisk-transactions/src/transaction_types.ts
  elements/lisk-transactions/test/13_vote_transaction.spec.ts
  elements/lisk-transactions/test/cast_votes.spec.ts
  elements/lisk-transactions/test/legacy_cast_votes.spec.ts
  elements/lisk-transactions/test/utils/state_store_mock.ts
  elements/lisk-validator/src/constants.ts
  elements/lisk-validator/src/formats.ts
  elements/lisk-validator/src/validation.ts
  framework/src/application/application.js
  framework/test/jest/unit/specs/application/application.spec.js
Due: prettier --write, eslint, tslint --format verbose

Use multiple addresses for test scenarios in TransactionPool
  elements/lisk-transaction-pool/test/unit/transaction_pool.spec.ts
Due: prettier --write, tslint --format verbose

Add missing test scenarios in TransactionPool
  elements/lisk-transaction-pool/src/transaction_pool.ts
  elements/lisk-transaction-pool/test/unit/transaction_pool.spec.ts
Due: prettier --write, tslint --format verbose

Remove comment and improve spacing
  elements/lisk-transaction-pool/test/unit/transaction_list.spec.ts
Due: prettier --write, tslint --format verbose

:bug: Fix to get last blocks with offset when deleting a block
  elements/lisk-chain/src/chain.ts
  elements/lisk-chain/test/unit/chain.spec.ts
  framework/src/application/node/processor/processor.js
Due: prettier --write, eslint, tslint --format verbose

Update forging strategy to sort based on fee priority not fee
  framework/src/application/node/forger/strategies.js
  framework/test/jest/unit/specs/application/node/forger/forging_fixtures.js
  framework/test/jest/unit/specs/application/node/forger/strategies.spec.js
Due: prettier --write, eslint

:recycle: Update argument name and test description
  elements/lisk-chain/src/chain.ts
  elements/lisk-chain/test/unit/chain.spec.ts
Due: prettier --write, tslint --format verbose

Improve test cases descriptions
  elements/lisk-transaction-pool/test/unit/transaction_list.spec.ts
  elements/lisk-transaction-pool/test/unit/transaction_pool.spec.ts
Due: prettier --write, tslint --format verbose

:seedling: Add network identifier in block signature
  elements/lisk-chain/src/chain.ts
  elements/lisk-chain/src/validate.ts
  elements/lisk-chain/test/utils/block.ts
  framework/src/application/node/block_processor_v2.js
  framework/src/application/node/node.js
  framework/test/jest/unit/specs/application/node/block_processor_v2.spec.js
  framework/test/jest/unit/specs/application/node/synchronizer/block.js
  framework/test/jest/unit/specs/application/node/synchronizer/block_synchronization_mechanism/block_synchronization_mechanism.spec.js
  framework/test/jest/unit/specs/application/node/synchronizer/synchronizer.spec.js
Due: prettier --write, eslint, tslint --format verbose

Remove duplicate test and improve test sentences
  elements/lisk-transaction-pool/test/unit/transaction_list.spec.ts
  elements/lisk-transaction-pool/test/unit/transaction_pool.spec.ts
Due: prettier --write, tslint --format verbose

Update elements/lisk-transactions/src/13_vote_transaction.ts
  elements/lisk-transactions/src/13_vote_transaction.ts
Due: prettier --write, tslint --format verbose

Update elements/lisk-validator/src/constants.ts
  elements/lisk-validator/src/constants.ts
Due: prettier --write, tslint --format verbose

:seedling: Add protocol spec for forger selection
  protocol-specs/generator_outputs/dpos_forger_selection/dpos_forger_selection.json
  protocol-specs/generator_outputs/dpos_forger_selection/dpos_forger_selection_0_standby.json
  protocol-specs/generator_outputs/dpos_forger_selection/dpos_forger_selection_exactly_1_standby.json
  protocol-specs/generator_outputs/dpos_forger_selection/dpos_forger_selection_exactly_2_standby.json
  protocol-specs/generator_outputs/dpos_forger_selection/dpos_forger_selection_less_than_103.json
  protocol-specs/generator_outputs/dpos_forger_selection/dpos_forger_selection_more_than_2_standby.json
  protocol-specs/generators/dpos_forger_selection/README.md
  protocol-specs/generators/dpos_forger_selection/delegate_weight_0_eligible_standby.json
  protocol-specs/generators/dpos_forger_selection/delegate_weight_exactly_1_eligible_standby.json
  protocol-specs/generators/dpos_forger_selection/delegate_weight_exactly_2_eligible_standby.json
  protocol-specs/generators/dpos_forger_selection/delegate_weight_less_than_103.json
  protocol-specs/generators/dpos_forger_selection/delegate_weight_more_than_2_eligible_standby.json
  protocol-specs/generators/dpos_forger_selection/index.js
  protocol-specs/generators/dpos_forger_selection/sample_generator.js
Due: prettier --write, eslint

:recycle: Fix sorting for unlocking object
  elements/lisk-transactions/src/13_vote_transaction.ts
  elements/lisk-transactions/src/utils/index.ts
  elements/lisk-transactions/src/utils/sort.ts
  elements/lisk-transactions/test/13_vote_transaction.spec.ts
  elements/lisk-transactions/test/utils/sort.spec.ts
Due: prettier --write, tslint --format verbose

:seedling: Add unlock transaction and helper function
  elements/lisk-transactions/fixtures/unlock_transaction
  elements/lisk-transactions/src/14_unlock_transaction.ts
  elements/lisk-transactions/src/index.ts
  elements/lisk-transactions/src/transaction_types.ts
  elements/lisk-transactions/src/unlock_token.ts
  elements/lisk-transactions/test/14_unlock_transaction.spec.ts
  elements/lisk-transactions/test/unlock_token.spec.ts
  framework/src/application/application.js
  framework/test/jest/unit/specs/application/application.spec.js
Due: prettier --write, eslint, tslint --format verbose

:recycle: Add sort for unlocking object
  elements/lisk-transactions/src/14_unlock_transaction.ts
  elements/lisk-transactions/test/14_unlock_transaction.spec.ts
Due: prettier --write, tslint --format verbose

:seedling: Add hash onion function
  commander/src/commands/hash-onion.ts
  commander/test/commands/hash-onion.test.ts
Due: prettier --write, tslint --format verbose

:recycle: Move hash onion function to elements
  commander/src/commands/hash-onion.ts
  elements/lisk-cryptography/src/hash_onion.ts
  elements/lisk-cryptography/src/index.ts
  elements/lisk-cryptography/test/hash_onion.spec.ts
Due: prettier --write, tslint --format verbose

:recycle: Remove usage of unshift
  elements/lisk-cryptography/src/hash_onion.ts
Due: prettier --write, tslint --format verbose

Apply suggestions from code review
  protocol-specs/generators/dpos_forger_selection/index.js
Due: prettier --write, eslint

:recycle: Update generated files
  protocol-specs/generator_outputs/dpos_forger_selection/dpos_forger_selection_exactly_1_standby.json
  protocol-specs/generator_outputs/dpos_forger_selection/dpos_forger_selection_exactly_2_standby.json
  protocol-specs/generator_outputs/dpos_forger_selection/dpos_forger_selection_more_than_2_standby.json
Due: prettier --write

:recycle: Add slice to make it clear
  protocol-specs/generators/dpos_forger_selection/index.js
Due: prettier --write, eslint

Grammar/punctuation fixes/updates in swagger.yml
  framework/src/modules/http_api/schema/swagger.yml
Due: none

:seedling: Add vote weight snapshot
  elements/lisk-chain/src/data_access/data_access.ts
  elements/lisk-chain/src/data_access/storage.ts
  elements/lisk-dpos/package.json
  elements/lisk-dpos/src/constants.ts
  elements/lisk-dpos/src/delegates_info.ts
  elements/lisk-dpos/src/delegates_list.ts
  elements/lisk-dpos/src/dpos.ts
  elements/lisk-dpos/src/types.ts
  elements/lisk-dpos/test/unit/apply.spec.ts
  elements/lisk-dpos/test/unit/undo.spec.ts
  elements/lisk-dpos/test/unit/verify_block_forger.spec.ts
  elements/lisk-dpos/test/unit/vote_weight_snapshot.spec.ts
  elements/lisk-dpos/test/utils/random_int.ts
  elements/lisk-dpos/test/utils/round_delegates.ts
Due: prettier --write, tslint --format verbose

Update elements/lisk-dpos/src/delegates_list.ts
  elements/lisk-dpos/src/delegates_list.ts
Due: prettier --write, tslint --format verbose

:recycle: Update function name
  elements/lisk-dpos/test/unit/vote_weight_snapshot.spec.ts
  elements/lisk-dpos/test/utils/random_int.ts
Due: prettier --write, tslint --format verbose

:recycle: Update test description
  elements/lisk-dpos/test/unit/vote_weight_snapshot.spec.ts
Due: prettier --write, tslint --format verbose

Add random seed generator for protocol specs
  protocol-specs/generators/dpos_random_seed_generation/README.md
Due: prettier --write
