Repository LiskArchive/lisk-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, tslint --format verbose

.lintstagedrc.json:

{
	"*.js": ["prettier --write", "eslint"],
	"*.ts": ["prettier --write", "tslint --format verbose"],
	"*.{json,md}": ["prettier --write"]
}

:recycle: Add transaction pool config
  framework/src/application/node/node.js
  framework/src/application/schema/application_config_schema.js
  framework/test/fixtures/node.js
  framework/test/jest/unit/specs/application/__snapshots__/application.spec.js.snap
  framework/test/jest/unit/specs/application/schema/__snapshots__/application_schema.spec.js.snap
Due: prettier --write, eslint

:recycle: Fix mocha unit test
  framework/src/modules/http_api/schema/swagger.yml
  framework/test/mocha/unit/modules/http_api/controllers/node.js
Due: prettier --write, eslint

Update based on comments
  elements/lisk-transaction-pool/src/transaction_list.ts
  elements/lisk-transaction-pool/src/transaction_pool.ts
Due: prettier --write, tslint --format verbose

:recycle: Update transactionResponses
  elements/lisk-chain/src/chain.ts
  elements/lisk-chain/src/transactions/compose_transaction_steps.ts
  elements/lisk-chain/src/transactions/transactions_handlers.ts
  elements/lisk-chain/src/verify.ts
  elements/lisk-chain/test/unit/process_transactions.spec.ts
  elements/lisk-chain/test/unit/transactions.spec.ts
  elements/lisk-chain/test/unit/transactions_handlers.spec.ts
  elements/lisk-transaction-pool/src/transaction_pool.ts
  elements/lisk-transaction-pool/test/unit/transaction_pool.spec.ts
Due: prettier --write, tslint --format verbose

:recycle: Address review comments
  framework/src/application/node/forger/strategies.js
  framework/src/application/node/node.js
  framework/src/application/node/synchronizer/synchronizer.js
  framework/src/application/node/transport/transport.js
  framework/src/application/schema/application_config_schema.js
  framework/test/fixtures/node.js
  framework/test/jest/unit/specs/application/__snapshots__/application.spec.js.snap
  framework/test/jest/unit/specs/application/node/forger/strategies.spec.js
  framework/test/jest/unit/specs/application/node/synchronizer/synchronizer.spec.js
  framework/test/jest/unit/specs/application/node/transport/transport.spec.js
  framework/test/jest/unit/specs/application/schema/__snapshots__/application_schema.spec.js.snap
  framework/test/jest/unit/specs/application/transport/transport.spec.js
Due: prettier --write, eslint

:recycle: Address review comments on transaction_pool
  elements/lisk-transaction-pool/src/transaction_pool.ts
Due: prettier --write, tslint --format verbose

:recycle: Address review comments
  framework/src/application/node/node.js
  framework/src/application/node/transport/transport.js
  framework/test/jest/unit/specs/application/node/transport/transport.spec.js
  framework/test/jest/unit/specs/application/transport/transport.spec.js
Due: prettier --write, eslint

:recycle: Remove transactions from default application schema
  framework/src/application/schema/application_config_schema.js
  framework/test/fixtures/node.js
  framework/test/jest/unit/specs/application/__snapshots__/application.spec.js.snap
  framework/test/jest/unit/specs/application/schema/__snapshots__/application_schema.spec.js.snap
Due: prettier --write, eslint

:recycle: Fix typo and tests
  framework/src/application/node/node.js
  framework/src/application/schema/application_config_schema.js
  framework/test/jest/unit/specs/application/schema/__snapshots__/application_schema.spec.js.snap
Due: prettier --write, eslint

:seedling: Update transaction pool API
  elements/lisk-transaction-pool/src/transaction_pool.ts
  elements/lisk-transaction-pool/test/unit/transaction_pool.spec.ts
  framework/src/application/node/node.js
  framework/src/application/schema/constants_schema.js
  framework/src/modules/http_api/controllers/node.js
  framework/src/modules/http_api/schema/swagger.yml
  framework/test/fixtures/node.js
  framework/test/jest/unit/specs/application/schema/__snapshots__/constants_schema.spec.js.snap
  framework/test/mocha/functional/http/get/node/node.js
  framework/test/mocha/functional/http/get/voters.js
  framework/test/mocha/functional/http/get/votes.js
  framework/test/mocha/functional/http/post/2.delegate.js
  framework/test/mocha/functional/http/post/3.votes.js
  framework/test/mocha/unit/modules/http_api/controllers/node.js
  framework/test/utils/configs/config_constants.js
Due: prettier --write, eslint, tslint --format verbose

Update commander/src/commands/transaction/create/multisignature.ts
  commander/src/commands/transaction/create/multisignature.ts
Due: prettier --write, tslint --format verbose

Apply suggestions from code review
  commander/src/commands/transaction/create/multisignature.ts
Due: prettier --write, tslint --format verbose

Update expire tx pool test
  elements/lisk-transaction-pool/src/transaction_pool.ts
  elements/lisk-transaction-pool/test/unit/transaction_pool.spec.ts
Due: prettier --write, tslint --format verbose

Remove async jobs
  elements/lisk-transaction-pool/src/transaction_pool.ts
Due: prettier --write, tslint --format verbose

Remove await from job
  elements/lisk-transaction-pool/src/transaction_pool.ts
Due: prettier --write, tslint --format verbose

:bug: Fix genesis block being calculated for burnt fee
  elements/lisk-chain/src/block_reward.ts
  elements/lisk-chain/test/unit/process.spec.ts
Due: prettier --write, tslint --format verbose

:arrow_up: Update version
  commander/package.json
  elements/lisk-api-client/package.json
  elements/lisk-bft/package.json
  elements/lisk-chain/package.json
  elements/lisk-client/package.json
  elements/lisk-constants/package.json
  elements/lisk-cryptography/package.json
  elements/lisk-dpos/package.json
  elements/lisk-elements/package.json
  elements/lisk-p2p/package.json
  elements/lisk-passphrase/package.json
  elements/lisk-transaction-pool/package.json
  elements/lisk-transactions/package.json
  elements/lisk-validator/package.json
  framework/package.json
  sdk/package-lock.json
  sdk/package.json
Due: prettier --write

:bug: Fix usage of await in account endpoint
  framework/src/modules/http_api/controllers/accounts.js
Due: prettier --write, eslint

:bug: Fix sorting for bigint
  elements/lisk-transaction-pool/src/transaction_list.ts
  elements/lisk-transaction-pool/test/unit/transaction_list.spec.ts
Due: prettier --write, tslint --format verbose

:bug: Fix to start/stop transaction pool in application/node
  framework/src/application/node/node.js
  framework/test/jest/unit/specs/application/node/node.spec.js
Due: prettier --write, eslint

:bug: Fix string comparison for nonce
  elements/lisk-transaction-pool/src/transaction_pool.ts
  elements/lisk-transaction-pool/test/unit/transaction_pool.spec.ts
Due: prettier --write, tslint --format verbose

:bug: Update to call transaction apply with promotable while promoting
  elements/lisk-transaction-pool/src/transaction_pool.ts
  elements/lisk-transaction-pool/test/unit/transaction_pool.spec.ts
Due: prettier --write, tslint --format verbose

:bug: Fix data consistency with list and pool
  elements/lisk-transaction-pool/src/transaction_list.ts
  elements/lisk-transaction-pool/src/transaction_pool.ts
  elements/lisk-transaction-pool/test/unit/transaction_list.spec.ts
Due: prettier --write, tslint --format verbose

fix: framework/package.json to reduce vulnerabilities
  framework/package.json
Due: prettier --write

:recycle: Update condition order for early return
  elements/lisk-transaction-pool/src/transaction_pool.ts
Due: prettier --write, tslint --format verbose

:bug: Fix node/transactions response format
  framework/src/modules/http_api/controllers/node.js
Due: prettier --write, eslint

Handle block data to log properly and fix event log
  framework/src/application/node/processor/processor.js
  framework/src/controller/controller.js
Due: prettier --write, eslint

Fix var name lastBlock->previousBlock in test
  framework/test/jest/unit/specs/application/node/processor/processor.spec.js
Due: prettier --write, eslint

Do not push undefined errors to array in verify multisignatures
  elements/lisk-transactions/src/utils/verify.ts
Due: prettier --write, tslint --format verbose

:bug: Fix commander to allow -t flag for multisig
  commander/src/commands/transaction/create.ts
  commander/test/commands/transaction/create.test.ts
Due: prettier --write, tslint --format verbose

:bug: Fix to allow to sign with only mandatory or optional
  commander/src/commands/transaction/sign.ts
  commander/test/commands/transaction/sign.test.ts
Due: prettier --write, tslint --format verbose

Add missing happy path test for verifyMultisignatures
  elements/lisk-transactions/src/utils/verify.ts
  elements/lisk-transactions/test/utils/verify.spec.ts
Due: prettier --write, tslint --format verbose

Return serialize block data from handleRPCGetGetHighestCommonBlock
  framework/src/application/node/transport/transport.js
Due: prettier --write, eslint

:bug: Show multisignature details for accounts
  framework/src/modules/http_api/controllers/accounts.js
Due: prettier --write, eslint

Fix transport test
  framework/test/jest/unit/specs/application/node/transport/transport.spec.js
Due: prettier --write, eslint

:recycle: Add comment for account keys
  framework/src/modules/http_api/controllers/accounts.js
Due: prettier --write, eslint

Sort keys when signing multisig account
  elements/lisk-transactions/src/sign_multi_signature_transaction.ts
Due: prettier --write, tslint --format verbose

Fix deepscan suggestion
  elements/lisk-transactions/src/sign_multi_signature_transaction.ts
Due: prettier --write, tslint --format verbose

:recycle: Update accounts, node api-client resources
  elements/lisk-api-client/src/resources/accounts.ts
  elements/lisk-api-client/src/resources/node.ts
  elements/lisk-api-client/test/resources/accounts.spec.ts
Due: prettier --write, tslint --format verbose
