Repository LiskArchive/lisk-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, tslint --format verbose

.lintstagedrc.json:

{
	"*.js": ["prettier --write", "eslint"],
	"*.ts": ["prettier --write", "tslint --format verbose"],
	"*.{json,md}": ["prettier --write"]
}

Fix framework tests after changes to sign() interface for LIP-0017
  framework/test/jest/integration/specs/application/node/matcher.spec.js
  framework/test/jest/unit/specs/application/node/transport/transport.spec.js
Due: prettier --write, eslint

Improve unit test for TxPool
  elements/lisk-transaction-pool/src/transaction_pool.ts
  elements/lisk-transaction-pool/test/unit/transaction_pool.spec.ts
Due: prettier --write, tslint --format verbose

Add check for multi-sig registration to make sure all signatures are present
  elements/lisk-transactions/src/12_multisignature_transaction.ts
  elements/lisk-transactions/test/12_multisignature_transaction.spec.ts
Due: prettier --write, tslint --format verbose

:recycle: Update outdated descriptions
  commander/src/utils/flags.ts
Due: prettier --write, tslint --format verbose

:recycle: Match default export name
  commander/src/utils/tablify.ts
Due: prettier --write, tslint --format verbose

:recycle: Fix description phrase
  commander/src/utils/flags.ts
Due: prettier --write, tslint --format verbose

:seedling: Add transaction pool missing functions
  elements/lisk-transaction-pool/src/transaction_pool.ts
  elements/lisk-transaction-pool/test/unit/transaction_pool.spec.ts
Due: prettier --write, tslint --format verbose

:recycle: Fix test description
  elements/lisk-transaction-pool/test/unit/transaction_pool.spec.ts
Due: prettier --write, tslint --format verbose

Promote transaction job in txpool
  elements/lisk-transaction-pool/src/transaction_list.ts
  elements/lisk-transaction-pool/src/transaction_pool.ts
Due: prettier --write, tslint --format verbose

Evict processable and non-processable transactions mechanism in tx-pool
  elements/lisk-transaction-pool/src/transaction_list.ts
  elements/lisk-transaction-pool/src/transaction_pool.ts
Due: prettier --write, tslint --format verbose

Expire transactions in txpool
  elements/lisk-transaction-pool/src/transaction_pool.ts
Due: prettier --write, tslint --format verbose

Update addTransaction to evict if pool is full
  elements/lisk-transaction-pool/src/transaction_pool.ts
Due: prettier --write, tslint --format verbose

Add unit tests for reorganization and eviction in txpool
  elements/lisk-transaction-pool/src/transaction_list.ts
  elements/lisk-transaction-pool/src/transaction_pool.ts
  elements/lisk-transaction-pool/test/unit/transaction_pool.spec.ts
Due: prettier --write, tslint --format verbose

Fix an error message multisignature transaction
  elements/lisk-transactions/src/register_multisignature_account.ts
Due: prettier --write, tslint --format verbose

Create multisignature command for commander
  commander/src/commands/transaction/create/multisignature.ts
Due: prettier --write, tslint --format verbose

Fix the error message for multisig registration
  elements/lisk-transactions/test/register_multisignature_account.spec.ts
Due: prettier --write, tslint --format verbose

Update txpool job tests
  elements/lisk-transaction-pool/src/transaction_list.ts
  elements/lisk-transaction-pool/src/transaction_pool.ts
  elements/lisk-transaction-pool/test/unit/transaction_pool.spec.ts
Due: prettier --write, tslint --format verbose

Add unit tests for multisignaure command
  commander/test/commands/transaction/create/multisignature.test.ts
Due: prettier --write, tslint --format verbose

Update heap usage
  elements/lisk-transaction-pool/src/transaction_pool.ts
  elements/lisk-transaction-pool/test/unit/transaction_pool.spec.ts
Due: prettier --write, tslint --format verbose

Remove getAll in txpool
  elements/lisk-transaction-pool/src/transaction_list.ts
  elements/lisk-transaction-pool/src/transaction_pool.ts
Due: prettier --write, tslint --format verbose

Update to fix duplicate assingment
  commander/src/commands/transaction/create/multisignature.ts
Due: prettier --write, tslint --format verbose

:recycle: Update rewardMileStones to rewardMilestones
  elements/lisk-chain/src/chain.ts
  elements/lisk-chain/test/unit/chain.spec.ts
  elements/lisk-chain/test/unit/process.spec.ts
  elements/lisk-chain/test/unit/transactions.spec.ts
  framework/src/application/node/node.js
  framework/test/jest/unit/specs/application/node/synchronizer/block_synchronization_mechanism/block_synchronization_mechanism.spec.js
  framework/test/jest/unit/specs/application/node/synchronizer/fast_chain_switching_mechanism/fast_chain_switching_mechanism.spec.js
  framework/test/jest/unit/specs/application/node/synchronizer/synchronizer.spec.js
Due: prettier --write, eslint, tslint --format verbose

:fire: Remove legacy transaction pool(v2)
  elements/lisk-transaction-pool/src/check_transactions.ts
  elements/lisk-transaction-pool/src/index.ts
  elements/lisk-transaction-pool/src/legacy_transaction_pool.ts
  elements/lisk-transaction-pool/src/queue.ts
  elements/lisk-transaction-pool/src/queue_checkers.ts
  elements/lisk-transaction-pool/test/integration/helpers/common.ts
  elements/lisk-transaction-pool/test/integration/transaction_movement.spec.ts
  elements/lisk-transaction-pool/test/integration/transaction_pool_events.spec.ts
  elements/lisk-transaction-pool/test/performance/queue.spec.ts
  elements/lisk-transaction-pool/test/unit/check_transactions.spec.ts
  elements/lisk-transaction-pool/test/unit/legacy_transaction_pool.spec.ts
  elements/lisk-transaction-pool/test/unit/queue.spec.ts
  elements/lisk-transaction-pool/test/unit/queue_checkers.spec.ts
Due: prettier --write, tslint --format verbose

:WIP: Remove legacy transaction pool
  framework/src/application/node/node.js
  framework/src/application/node/synchronizer/synchronizer.js
  framework/src/application/node/transaction_pool/index.js
  framework/src/application/node/transaction_pool/sort.js
  framework/src/application/node/transaction_pool/transaction_pool.js
  framework/test/jest/unit/specs/application/node/transaction_pool/sort.spec.js
  framework/test/jest/unit/specs/application/node/transaction_pool/transaction_pool.spec.js
Due: prettier --write, eslint

:recycle: Remove unused Signatures from swagger
  framework/src/modules/http_api/schema/swagger.yml
Due: none

:recycle: Update framework to use new transactionPool implementation
  framework/src/application/node/node.js
  framework/src/application/node/synchronizer/synchronizer.js
  framework/src/application/node/transport/transport.js
Due: prettier --write, eslint

:seedling: Add transactionPoolError
  elements/lisk-transaction-pool/src/errors.ts
Due: prettier --write, tslint --format verbose

:recycle: Add applyTransactions function to chain
  elements/lisk-chain/src/chain.ts
  elements/lisk-chain/test/unit/transactions.spec.ts
Due: prettier --write, tslint --format verbose

:recycle: Update addTransction to handle response
  elements/lisk-transaction-pool/package.json
  elements/lisk-transaction-pool/src/transaction_pool.ts
Due: prettier --write, tslint --format verbose

:recycle: Update transaction pool unit test with error handling
  elements/lisk-transaction-pool/test/unit/transaction_pool.spec.ts
Due: prettier --write, tslint --format verbose

:recycle: Replace add, get, contains trx pool logic
  framework/src/application/node/node.js
  framework/src/application/node/transport/broadcaster.js
  framework/src/application/node/transport/transport.js
Due: prettier --write, eslint

:recycle: Add code comments,debug and update message
  elements/lisk-transaction-pool/src/transaction_pool.ts
Due: prettier --write, tslint --format verbose

:recycle: Rename addTransaction,removeTransaction to add,remove
  elements/lisk-transaction-pool/src/transaction_pool.ts
  elements/lisk-transaction-pool/test/unit/transaction_pool.spec.ts
  framework/src/application/node/node.js
  framework/src/application/node/synchronizer/synchronizer.js
  framework/src/application/node/transport/transport.js
Due: prettier --write, eslint, tslint --format verbose

:recycle: Update framework jest integration test
  framework/test/jest/integration/specs/application/node/forger/transaction_pool.spec.js
Due: prettier --write, eslint

:recycle: Fix matcher unit test
  framework/test/jest/integration/specs/application/node/matcher.spec.js
Due: prettier --write, eslint

:recycle: Update transaction pool count for node/status
  framework/src/application/node/node.js
  framework/src/modules/http_api/controllers/node.js
Due: prettier --write, eslint

:recycle: Update framework jest unit test
  framework/src/application/node/transport/transport.js
  framework/test/jest/unit/specs/application/node/synchronizer/synchronizer.spec.js
  framework/test/jest/unit/specs/application/node/transport/transport.spec.js
  framework/test/jest/unit/specs/application/transport/transport.spec.js
Due: prettier --write, eslint

:recycle: Update test fixtures with transaction pool config
  framework/src/modules/http_api/schema/swagger.yml
  framework/test/fixtures/node.js
  sdk/src/samples/config_devnet.json
Due: prettier --write, eslint
