Repository LiskArchive/lisk-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, tslint --format verbose

.lintstagedrc.json:

{
	"*.js": ["prettier --write", "eslint"],
	"*.ts": ["prettier --write", "tslint --format verbose"],
	"*.{json,md}": ["prettier --write"]
}

Check delegate punishment eligibility in applyAsset
  elements/lisk-transactions/src/15_proof_of_misbehavior_transaction.ts
Due: prettier --write, tslint --format verbose

Add unit test for pom transaction validation
  elements/lisk-transactions/src/15_proof_of_misbehavior_transaction.ts
  elements/lisk-transactions/test/15_pom_transaction.spec.ts
Due: prettier --write, tslint --format verbose

Add unit test for pom transaction applyAsset
  elements/lisk-transactions/src/15_proof_of_misbehavior_transaction.ts
  elements/lisk-transactions/test/15_pom_transaction.spec.ts
  protocol-specs/generator_outputs/proof_of_misbehavior_transaction/proof_of_misbehavior_transaction_scenario_1.json
  protocol-specs/generator_outputs/proof_of_misbehavior_transaction/proof_of_misbehavior_transaction_scenario_2.json
  protocol-specs/generator_outputs/proof_of_misbehavior_transaction/proof_of_misbehavior_transaction_scenario_3.json
  protocol-specs/generators/proof_of_misbehavior_transaction/index.js
Due: prettier --write, eslint, tslint --format verbose

Add temp reward cache to allow pom undo asset
  elements/lisk-transactions/src/15_proof_of_misbehavior_transaction.ts
Due: prettier --write, tslint --format verbose

Undo asset for pom transaction
  elements/lisk-transactions/src/15_proof_of_misbehavior_transaction.ts
Due: prettier --write, tslint --format verbose

Add unit tests for pom transaction undoAsset
  elements/lisk-transactions/test/15_pom_transaction.spec.ts
Due: prettier --write, tslint --format verbose

Ignore standby delegates from precommits calculation
  elements/lisk-bft/src/finality_manager.ts
  elements/lisk-bft/src/types.ts
Due: prettier --write, tslint --format verbose

Add seedReveal type
  elements/lisk-chain/src/types.ts
Due: prettier --write, tslint --format verbose

Add header 2 format
  elements/lisk-transactions/src/15_proof_of_misbehavior_transaction.ts
  elements/lisk-transactions/test/15_pom_transaction.spec.ts
Due: prettier --write, tslint --format verbose

Add test scenario to exclude standby from bft cal
  elements/lisk-bft/test/protocol_specs/bft_finality_manager_protocol_specs.spec.ts
  elements/lisk-bft/test/protocol_specs/bft_fork_choice_rules_protocol_specs.spec.ts
  elements/lisk-bft/test/protocol_specs/bft_invalid_block_headers_protocol_specs.spec.ts
  elements/lisk-bft/test/unit/bft.spec.ts
  elements/lisk-bft/test/unit/finality_manager.spec.ts
Due: prettier --write, tslint --format verbose

Extract to constants for pom
  elements/lisk-transactions/src/15_proof_of_misbehavior_transaction.ts
  elements/lisk-transactions/src/constants.ts
  elements/lisk-transactions/src/utils/sign_and_validate.ts
Due: prettier --write, tslint --format verbose

Rename constants
  elements/lisk-transactions/src/15_proof_of_misbehavior_transaction.ts
  elements/lisk-transactions/src/utils/get_block_bytes.ts
  elements/lisk-transactions/src/utils/is_punished.ts
Due: prettier --write, tslint --format verbose

Add test for low delegate balance pom tx
  elements/lisk-transactions/src/15_proof_of_misbehavior_transaction.ts
  elements/lisk-transactions/test/15_pom_transaction.spec.ts
Due: prettier --write, tslint --format verbose

Add test for undoing pom tx when delegate had insufficient balance at apply
  elements/lisk-transactions/test/15_pom_transaction.spec.ts
Due: prettier --write, tslint --format verbose

Add reward to asset json
  elements/lisk-transactions/src/15_proof_of_misbehavior_transaction.ts
  elements/lisk-transactions/src/constants.ts
  elements/lisk-transactions/src/utils/sign_and_validate.ts
Due: prettier --write, tslint --format verbose

Get header2 bytes
  elements/lisk-transactions/src/15_proof_of_misbehavior_transaction.ts
Due: prettier --write, tslint --format verbose

:bug: Fix to have schema for seed reveal
  framework/src/application/node/block_processor_v2.js
  framework/test/jest/unit/specs/application/node/block_processor_v2.spec.js
Due: prettier --write, eslint

Add test for apply success case
  elements/lisk-transactions/src/15_proof_of_misbehavior_transaction.ts
  elements/lisk-transactions/src/utils/get_block_bytes.ts
  elements/lisk-transactions/test/15_pom_transaction.spec.ts
Due: prettier --write, tslint --format verbose

Fix typo isStandByDelegate -> isStandbyDelegate
  elements/lisk-dpos/src/dpos.ts
  elements/lisk-dpos/test/unit/is_standby_delegate.spec.ts
Due: prettier --write, tslint --format verbose

Create Proof-of-Misbheavior transaction - Closes #4927 (#5099)
  elements/lisk-chain/src/types.ts
  elements/lisk-transactions/src/14_unlock_transaction.ts
  elements/lisk-transactions/src/15_proof_of_misbehavior_transaction.ts
  elements/lisk-transactions/src/constants.ts
  elements/lisk-transactions/src/transaction_types.ts
  elements/lisk-transactions/src/utils/get_block_bytes.ts
  elements/lisk-transactions/src/utils/index.ts
  elements/lisk-transactions/src/utils/is_punished.ts
  elements/lisk-transactions/src/utils/sign_and_validate.ts
  elements/lisk-transactions/test/15_pom_transaction.spec.ts
  protocol-specs/generator_outputs/proof_of_misbehavior_transaction/proof_of_misbehavior_transaction_scenario_1.json
  protocol-specs/generator_outputs/proof_of_misbehavior_transaction/proof_of_misbehavior_transaction_scenario_2.json
  protocol-specs/generator_outputs/proof_of_misbehavior_transaction/proof_of_misbehavior_transaction_scenario_3.json
  protocol-specs/generators/proof_of_misbehavior_transaction/index.js
Due: prettier --write, eslint, tslint --format verbose

:seedling: Add command to create pom transaction
  commander/src/commands/transaction/create.ts
  commander/src/commands/transaction/create/pom.ts
  commander/test/commands/transaction/create/pom.test.ts
Due: prettier --write, tslint --format verbose

Apply suggestions from code review
  commander/src/commands/transaction/create/pom.ts
Due: prettier --write, tslint --format verbose

:recycle: Update test
  framework/test/jest/unit/specs/application/application.spec.js
Due: prettier --write, eslint

:recycle: Add reportMisbehavior and update commands
  commander/src/commands/transaction/create/pom.ts
  commander/test/commands/transaction/create/pom.test.ts
  elements/lisk-transactions/src/report_misbehavior.ts
  elements/lisk-transactions/test/report_misbehavior.spec.ts
  framework/src/application/application.js
Due: prettier --write, eslint, tslint --format verbose

:recycle: Fix types and export
  elements/lisk-transactions/src/15_proof_of_misbehavior_transaction.ts
  elements/lisk-transactions/src/index.ts
  elements/lisk-transactions/src/report_misbehavior.ts
  elements/lisk-transactions/src/transaction_types.ts
Due: prettier --write, tslint --format verbose

:recycle: Remove unnecessary id property
  commander/src/commands/transaction/create/pom.ts
Due: prettier --write, tslint --format verbose

Update swagger for /accounts /delegates and show delegate properties username and isDelegate in /accounts
  framework/src/modules/http_api/controllers/accounts.js
  framework/src/modules/http_api/schema/swagger.yml
Due: prettier --write, eslint

Update swagger schema for /votes endpoint
  framework/src/modules/http_api/schema/swagger.yml
Due: none

Update swagger schema for /voters endpoint
  framework/src/modules/http_api/schema/swagger.yml
Due: none

Apply suggestions from code review
  framework/src/modules/http_api/schema/swagger.yml
Due: none

Resolve PR feedback
  framework/src/modules/http_api/schema/swagger.yml
Due: none

:bug: Update event app:broadcast -> app:block:broadcast
  framework/src/application/node/node.js
Due: prettier --write, eslint

:bug: Remove call to getForgerPublicKeysForRound
  framework/src/application/application.js
  framework/src/application/node/node.js
  framework/src/application/node/synchronizer/fast_chain_switching_mechanism.js
  framework/src/modules/http_api/controllers/delegates.js
  framework/src/modules/http_api/schema/swagger.yml
  framework/test/mocha/unit/modules/http_api/controllers/delegates.js
Due: prettier --write, eslint

:bug: Update blocks cache to return by height desc
  elements/lisk-chain/src/data_access/cache/block.ts
  elements/lisk-dpos/src/delegates_info.ts
  elements/lisk-dpos/src/dpos.ts
  framework/src/application/node/block_processor_v2.js
Due: prettier --write, eslint, tslint --format verbose

:recycle: Update unit tests
  elements/lisk-chain/test/unit/data_access/cache/block.spec.ts
  elements/lisk-dpos/test/unit/random_seed.spec.ts
  framework/test/jest/unit/specs/application/node/forger/forger.spec.js
Due: prettier --write, eslint, tslint --format verbose

:bug: Update used hashonion filtering
  elements/lisk-dpos/src/delegates_info.ts
  elements/lisk-dpos/src/random_seed.ts
  framework/src/application/node/block_processor_v2.js
  framework/src/application/node/forger/forger.js
Due: prettier --write, eslint, tslint --format verbose

:recycle: Update filter hash onion mechanisum
  framework/src/application/node/forger/forger.js
Due: prettier --write, eslint

:bug: Update to return error when delegate account does not exist
  elements/lisk-transactions/src/13_vote_transaction.ts
  elements/lisk-transactions/src/14_unlock_transaction.ts
  elements/lisk-transactions/src/15_proof_of_misbehavior_transaction.ts
  elements/lisk-transactions/test/14_unlock_transaction.spec.ts
  elements/lisk-transactions/test/15_pom_transaction.spec.ts
Due: prettier --write, tslint --format verbose

:recycle: Update protocol spec properties to go above punish time
  elements/lisk-transactions/test/15_pom_transaction.spec.ts
  protocol-specs/generator_outputs/proof_of_misbehavior_transaction/proof_of_misbehavior_transaction_scenario_1.json
  protocol-specs/generator_outputs/proof_of_misbehavior_transaction/proof_of_misbehavior_transaction_scenario_2.json
  protocol-specs/generator_outputs/proof_of_misbehavior_transaction/proof_of_misbehavior_transaction_scenario_3.json
  protocol-specs/generators/proof_of_misbehavior_transaction/index.js
Due: prettier --write, eslint, tslint --format verbose

Update elements/lisk-transactions/src/14_unlock_transaction.ts
  elements/lisk-transactions/src/14_unlock_transaction.ts
Due: prettier --write, tslint --format verbose
