Repository LiskArchive/lisk-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, tslint --format verbose

:recycle: Update FCS to only trigger for the same round
  framework/src/application/node/synchronizer/fast_chain_switching_mechanism.js
  framework/test/jest/unit/specs/application/node/synchronizer/fast_chain_switching_mechanism/fast_chain_switching_mechanism.spec.js
Due: prettier --write, eslint

:recycle: Refactor test setup
  framework/test/jest/unit/specs/application/node/synchronizer/fast_chain_switching_mechanism/fast_chain_switching_mechanism.spec.js
Due: prettier --write, eslint

Update API account endpoint for username
  framework/src/modules/http_api/controllers/accounts.js
Due: prettier --write, eslint

Update delegate api
  framework/src/modules/http_api/controllers/accounts.js
Due: prettier --write, eslint

:recycle: Change to info level
  framework/src/application/node/node.js
Due: prettier --write, eslint

:recycle: Fix error message
  framework/src/application/node/node.js
  framework/test/jest/unit/specs/application/node/node.spec.js
Due: prettier --write, eslint

Update delegate list to only include 101 as active delegates
  elements/lisk-dpos/src/delegates_list.ts
Due: prettier --write, tslint --format verbose

Fix delegate list tests
  elements/lisk-dpos/test/unit/vote_weight_snapshot.spec.ts
Due: prettier --write, tslint --format verbose

Update the logic to select standby delegates by random only if they are more than what required to select
  elements/lisk-dpos/src/delegates_list.ts
Due: prettier --write, tslint --format verbose

Update code per feedback
  elements/lisk-dpos/src/delegates_list.ts
Due: prettier --write, tslint --format verbose

:recycle: Update error message for punishment and waiting period
  elements/lisk-transactions/src/14_unlock_transaction.ts
  elements/lisk-transactions/src/15_proof_of_misbehavior_transaction.ts
  elements/lisk-transactions/src/utils/is_punished.ts
  elements/lisk-transactions/test/14_unlock_transaction.spec.ts
Due: prettier --write, tslint --format verbose

Do not attempt to fetch voted delegates when there are no votes in an account
  framework/src/modules/http_api/controllers/voters.js
Due: prettier --write, eslint

:recycle: Update FCS to check active delegate or not, and use validate detached
  elements/lisk-chain/src/chain.ts
  elements/lisk-chain/src/validate.ts
  elements/lisk-chain/test/unit/process.spec.ts
  elements/lisk-dpos/src/dpos.ts
  elements/lisk-dpos/test/unit/is_active_delegate.spec.ts
  framework/src/application/node/block_processor_v0.js
  framework/src/application/node/block_processor_v1.js
  framework/src/application/node/block_processor_v2.js
  framework/src/application/node/processor/base_block_processor.js
  framework/src/application/node/processor/processor.js
  framework/src/application/node/synchronizer/block_synchronization_mechanism.js
  framework/src/application/node/synchronizer/fast_chain_switching_mechanism.js
  framework/src/application/node/synchronizer/synchronizer.js
  framework/test/jest/unit/specs/application/node/synchronizer/block_synchronization_mechanism/block_synchronization_mechanism.spec.js
  framework/test/jest/unit/specs/application/node/synchronizer/fast_chain_switching_mechanism/fast_chain_switching_mechanism.spec.js
  framework/test/jest/unit/specs/application/node/synchronizer/synchronizer.spec.js
Due: prettier --write, eslint, tslint --format verbose

Add test for getVotes with empty votes array
  framework/test/mocha/unit/modules/http_api/controllers/voters.js
Due: prettier --write, eslint

:seedling: Add new properties in the account response
  framework/src/modules/http_api/controllers/accounts.js
  framework/src/modules/http_api/schema/swagger.yml
  framework/test/mocha/unit/modules/http_api/controllers/accounts.js
Due: prettier --write, eslint

Create vote command takes LSK
  commander/src/commands/transaction/create/vote.ts
Due: prettier --write, tslint --format verbose

Update unit test for create vote
  commander/test/commands/transaction/create/vote.test.ts
Due: prettier --write, tslint --format verbose

Use BigInt for vote amount
  commander/src/commands/transaction/create/vote.ts
Due: prettier --write, tslint --format verbose

Use BigInt.toString
  commander/src/commands/transaction/create/vote.ts
Due: prettier --write, tslint --format verbose

:recycle: Update log
  framework/src/application/node/processor/processor.js
Due: prettier --write, eslint

Assign a new array to fields to new Account object
  elements/lisk-chain/src/account.ts
Due: prettier --write, tslint --format verbose

Add test to check if original account object is not modified in any way
  elements/lisk-chain/test/unit/account.spec.ts
Due: prettier --write, tslint --format verbose

Fix deepScan warnings
  elements/lisk-chain/src/account.ts
Due: prettier --write, tslint --format verbose

Add test for optionalKeys assigment in Account object
  elements/lisk-chain/test/unit/account.spec.ts
Due: prettier --write, tslint --format verbose

:seedling: Add seed reveal to block api
  framework/src/modules/http_api/controllers/blocks.js
  framework/test/mocha/unit/modules/http_api/controllers/blocks.js
Due: prettier --write, eslint

:seedling: Update transport config for block and transaction
  framework/src/application/node/transport/schemas.js
  framework/src/application/node/transport/transport.js
  framework/test/jest/unit/specs/application/node/transport/transport.spec.js
  framework/test/jest/unit/specs/application/transport/transport.spec.js
Due: prettier --write, eslint

Add missing required attributes for block header schema in pom tx
  elements/lisk-transactions/src/15_proof_of_misbehavior_transaction.ts
Due: prettier --write, tslint --format verbose

:bug: Fix account api to have consisent response
  framework/src/modules/http_api/controllers/accounts.js
  framework/src/modules/http_api/controllers/delegates.js
  framework/src/modules/http_api/schema/swagger.yml
  framework/test/mocha/unit/modules/http_api/controllers/accounts.js
Due: prettier --write, eslint

:fire: Remove unnecessary copy
  framework/src/modules/http_api/controllers/accounts.js
  framework/src/modules/http_api/controllers/delegates.js
Due: prettier --write, eslint

:recycle: Update swagger delegate definition
  framework/src/modules/http_api/schema/swagger.yml
Due: none

:lock: Upgrade dependencies
  yarn.lock
Due: none

:recycle: Add typescript setting to the framework
  framework/.eslintignore
  framework/.eslintrc.json
  framework/.prettierignore
  framework/package.json
  framework/src/application/node/forger/forger.js
  framework/src/components/cache/cache.js
  framework/src/modules/http_api/controllers/transactions.js
  framework/src/modules/http_api/schema/swagger.yml
  framework/test/jest/.eslintrc.json
  framework/test/jest/unit/specs/application/node/forger/strategies.spec.js
  framework/test/jest/unit/specs/application/node/synchronizer/block_synchronization_mechanism/block_synchronization_mechanism.spec.js
  framework/test/jest/unit/specs/application/transport/transport.spec.js
  framework/test/mocha/.eslintrc.json
  framework/test/utils/node/node.js
  framework/tsconfig.json
  yarn.lock
Due: prettier --write, eslint

:bug: Fix floating async
  framework/src/application/node/forger/forger.js
  framework/src/application/node/node.js
  framework/src/application/node/synchronizer/block_synchronization_mechanism.js
  framework/src/modules/http_api/http_api.js
  framework/test/jest/unit/specs/application/node/synchronizer/block_synchronization_mechanism/block_synchronization_mechanism.spec.js
Due: prettier --write, eslint

:recycle: Update lisk-constant to use eslint
  .eslintrc.js
  .eslintrc.json
  .eslintrc.test.js
  .lintstagedrc.json
  elements/lisk-constants/.eslintignore
  elements/lisk-constants/.eslintrc.js
  elements/lisk-constants/.nycrc
  elements/lisk-constants/package.json
  elements/lisk-constants/src/index.ts
  elements/lisk-constants/test/.eslintrc.js
  elements/lisk-constants/test/index.spec.ts
  elements/lisk-constants/test/tslint.json
  elements/lisk-constants/tslint.json
  framework/.eslintrc.js
  framework/test/jest/integration/specs/application/node/genesis_block.spec.js
  framework/test/jest/integration/specs/modules/shared.js
  framework/test/jest/unit/specs/application/application.spec.js
  framework/test/jest/unit/specs/application/node/synchronizer/block.js
  framework/test/jest/unit/specs/application/node/synchronizer/block_synchronization_mechanism/block_synchronization_mechanism.spec.js
  framework/test/jest/unit/specs/application/node/synchronizer/fast_chain_switching_mechanism/fast_chain_switching_mechanism.spec.js
  framework/test/jest/unit/specs/application/node/synchronizer/synchronizer.spec.js
  framework/test/utils/legacy/application.js
  framework/test/utils/node/node.js
Due: prettier --write, eslint, tslint --format verbose

:fire: Remove unnecessary async
  framework/src/application/application.js
Due: prettier --write, eslint

:recycle: Remove tslint from lisk-api-client
  .eslintignore
  .eslintrc.js
  .eslintrc.test.js
  elements/lisk-api-client/.eslintignore
  elements/lisk-api-client/.eslintrc.js
  elements/lisk-api-client/.nycrc
  elements/lisk-api-client/package.json
  elements/lisk-api-client/src/api_client.ts
  elements/lisk-api-client/src/api_method.ts
  elements/lisk-api-client/src/api_resource.ts
  elements/lisk-api-client/src/api_types.ts
  elements/lisk-api-client/src/errors.ts
  elements/lisk-api-client/src/utils.ts
  elements/lisk-api-client/test/.eslintrc.js
  elements/lisk-api-client/test/api_client.spec.ts
  elements/lisk-api-client/test/api_method.spec.ts
  elements/lisk-api-client/test/api_resource.spec.ts
  elements/lisk-api-client/test/errors.spec.ts
  elements/lisk-api-client/test/resources/accounts.spec.ts
  elements/lisk-api-client/test/resources/blocks.spec.ts
  elements/lisk-api-client/test/resources/dapps.spec.ts
  elements/lisk-api-client/test/resources/delegates.spec.ts
  elements/lisk-api-client/test/resources/node.spec.ts
  elements/lisk-api-client/test/resources/peers.spec.ts
  elements/lisk-api-client/test/resources/transactions.spec.ts
  elements/lisk-api-client/test/resources/voters.spec.ts
  elements/lisk-api-client/test/resources/votes.spec.ts
  elements/lisk-api-client/test/tslint.json
  elements/lisk-api-client/test/utils.spec.ts
  elements/lisk-api-client/tslint.json
Due: prettier --write, eslint, tslint --format verbose

:recycle: Update to remove tslint from cryptography
  .eslintrc.test.js
  elements/lisk-cryptography/.eslintignore
  elements/lisk-cryptography/.eslintrc.js
  elements/lisk-cryptography/.nycrc
  elements/lisk-cryptography/package.json
  elements/lisk-cryptography/src/buffer.ts
  elements/lisk-cryptography/src/convert.ts
  elements/lisk-cryptography/src/encrypt.ts
  elements/lisk-cryptography/src/hash.ts
  elements/lisk-cryptography/src/hash_onion.ts
  elements/lisk-cryptography/src/keys.ts
  elements/lisk-cryptography/src/nacl/fast.ts
  elements/lisk-cryptography/src/nacl/index.ts
  elements/lisk-cryptography/src/nacl/nacl_types.ts
  elements/lisk-cryptography/src/nacl/slow.ts
  elements/lisk-cryptography/src/sign.ts
  elements/lisk-cryptography/test/.eslintrc.js
  elements/lisk-cryptography/test/buffer.spec.ts
  elements/lisk-cryptography/test/convert.spec.ts
  elements/lisk-cryptography/test/encrypt.spec.ts
  elements/lisk-cryptography/test/hash.spec.ts
  elements/lisk-cryptography/test/hash_onion.spec.ts
  elements/lisk-cryptography/test/helpers/index.ts
  elements/lisk-cryptography/test/keys.spec.ts
  elements/lisk-cryptography/test/nacl/index.spec.ts
  elements/lisk-cryptography/test/nacl/nacl.spec.ts
  elements/lisk-cryptography/test/sign.spec.ts
  elements/lisk-cryptography/test/tslint.json
  elements/lisk-cryptography/tslint.json
Due: prettier --write, eslint, tslint --format verbose

:bug: Fix typo
  framework/src/controller/bus.js
Due: prettier --write, eslint

:recycle: Update lisk-passphrase to use eslint
  elements/lisk-passphrase/.eslintignore
  elements/lisk-passphrase/.eslintrc.js
  elements/lisk-passphrase/.nycrc
  elements/lisk-passphrase/package.json
  elements/lisk-passphrase/src/validation.ts
  elements/lisk-passphrase/test/.eslintrc.js
  elements/lisk-passphrase/test/tslint.json
  elements/lisk-passphrase/tslint.json
Due: prettier --write, eslint, tslint --format verbose

Path conditions:
  prettier --write: ((any of: *.js) or (any of: *.ts)) or (any of: *.{json,md})
  eslint: any of: *.js
  tslint --format verbose: any of: *.ts
