Repository LiskArchive/lisk-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, tslint --format verbose

:recycle: Update unit test with networkIdentifier changes
  elements/lisk-transactions/test/10_delegate_transaction.spec.ts
  elements/lisk-transactions/test/base_transaction.spec.ts
  elements/lisk-transactions/test/utils/state_store_mock.ts
Due: prettier --write, tslint --format verbose

Update POM scenarios
  protocol-specs/generator_outputs/proof_of_misbehavior_transaction/proof_of_misbehavior_transaction_scenario_1.json
  protocol-specs/generator_outputs/proof_of_misbehavior_transaction/proof_of_misbehavior_transaction_scenario_2.json
  protocol-specs/generator_outputs/proof_of_misbehavior_transaction/proof_of_misbehavior_transaction_scenario_3.json
  protocol-specs/generators/proof_of_misbehavior_transaction/index.js
Due: prettier --write, eslint

:recycle: Remove networkIdentifier from transaction adapter
  elements/lisk-chain/src/chain.ts
  elements/lisk-chain/src/data_access/data_access.ts
  elements/lisk-chain/src/data_access/transaction_interface_adapter.ts
  elements/lisk-chain/test/unit/process.spec.ts
  elements/lisk-chain/test/unit/transaction_interface_adapter.spec.ts
  elements/lisk-chain/test/utils/block.ts
Due: prettier --write, tslint --format verbose

:recycle: Fix failing test
  elements/lisk-chain/test/unit/data_access/data_access.spec.ts
  framework/test/jest/integration/specs/application/node/matcher.spec.js
Due: prettier --write, eslint, tslint --format verbose

:recycle: Update lisk-chain key format
  elements/lisk-chain/src/block_reward.ts
  elements/lisk-chain/src/constants.ts
  elements/lisk-chain/test/unit/process.spec.ts
Due: prettier --write, tslint --format verbose

:recycle: Update forger, network key format
  framework/src/application/network/network.js
  framework/src/application/node/block_processor_v2.js
  framework/src/application/node/forger/constant.js
Due: prettier --write, eslint

:recycle: Update unit and integration test
  framework/test/jest/integration/specs/application/node/components/storage/entities/chain_state.spec.js
  framework/test/jest/integration/specs/application/node/components/storage/entities/consensus_state.spec.js
  framework/test/jest/integration/specs/application/node/components/storage/entities/forger_info.spec.js
  framework/test/jest/integration/specs/modules/network/components/storage/entities/network_info.spec.js
  framework/test/jest/unit/specs/application/node/block_processor_v2.spec.js
Due: prettier --write, eslint

:recycle: Update the format to modulename:keyName
  elements/lisk-bft/src/bft.ts
  elements/lisk-chain/src/constants.ts
  elements/lisk-dpos/src/constants.ts
  framework/src/application/network/network.js
  framework/src/application/node/block_processor_v2.js
  framework/src/application/node/forger/constant.js
  framework/test/jest/integration/specs/application/node/components/storage/entities/chain_state.spec.js
  framework/test/jest/integration/specs/application/node/components/storage/entities/consensus_state.spec.js
  framework/test/jest/integration/specs/application/node/components/storage/entities/forger_info.spec.js
  framework/test/jest/unit/specs/application/node/block_processor_v2.spec.js
Due: prettier --write, eslint, tslint --format verbose

Update the output for dpos random seed
  protocol-specs/generator_outputs/dpos_random_seed_generation/dpos_random_seed_generation_other_rounds.json
  protocol-specs/generators/dpos_random_seed_generation/index.js
Due: prettier --write, eslint

:bug: Fix handling of self-vote
  elements/lisk-transactions/src/13_vote_transaction.ts
  elements/lisk-transactions/test/13_vote_transaction.spec.ts
Due: prettier --write, tslint --format verbose

Update framework/src/modules/http_api/schema/swagger.yml
  framework/src/modules/http_api/schema/swagger.yml
Due: none

Add unit test skeleton for pom
  elements/lisk-transactions/fixtures/proof_of_misbehavior_transaction
  elements/lisk-transactions/test/15_pom_transaction.spec.ts
Due: prettier --write, tslint --format verbose

Will fix commander vote.test.ts
  commander/src/commands/transaction/create/vote.ts
  commander/test/commands/transaction/create/vote.test.ts
Due: prettier --write, tslint --format verbose

Remove exclusive test
  commander/test/commands/transaction/create/vote.test.ts
Due: prettier --write, tslint --format verbose

:bug: Fix splice usage and add self downvote cases
  elements/lisk-transactions/src/13_vote_transaction.ts
  elements/lisk-transactions/test/13_vote_transaction.spec.ts
Due: prettier --write, tslint --format verbose

Fix commander tests after changes to vote transaction
  commander/test/commands/transaction/create.test.ts
Due: prettier --write, tslint --format verbose

Add shuffleDelegateListBasedOnRandomSeed function
  elements/lisk-dpos/src/delegates_list.ts
  elements/lisk-dpos/test/fixtures/delegate_address_list.json
  elements/lisk-dpos/test/unit/shuffled_delegate_list_by_random_seed.spec.ts
Due: prettier --write, tslint --format verbose

Link updates and updates to correspond to these link.Grammar/punctuation fixes/updates in swagger.yml
  framework/src/modules/http_api/schema/swagger.yml
Due: none

Rename argument fix
  protocol-specs/generator_outputs/dpos_delegate_shuffling/uniformly_shuffled_delegate_list.json
  protocol-specs/generators/dpos_delegate_shuffling/delegate_address_list.json
  protocol-specs/generators/dpos_delegate_shuffling/index.js
  protocol-specs/generators/dpos_delegate_shuffling/sample_generator.js
Due: prettier --write, eslint

Update commander/src/commands/transaction/create/vote.ts
  commander/src/commands/transaction/create/vote.ts
Due: prettier --write, tslint --format verbose

Update code/test based on PR feedback
  commander/src/commands/transaction/create/vote.ts
  commander/test/commands/transaction/create/vote.test.ts
Due: prettier --write, tslint --format verbose

Use crypto funcs to create buffer
  elements/lisk-dpos/src/delegates_list.ts
  protocol-specs/generators/dpos_delegate_shuffling/sample_generator.js
Due: prettier --write, eslint, tslint --format verbose

Apply suggestions from code review
  commander/test/commands/transaction/create/vote.test.ts
Due: prettier --write, tslint --format verbose

Remove code and test for missing votes as votes flag is required now
  commander/src/commands/transaction/create/vote.ts
  commander/test/commands/transaction/create/vote.test.ts
Due: prettier --write, tslint --format verbose

Use 103 delegates and create symlink for fixtures
  elements/lisk-dpos/src/delegates_list.ts
  elements/lisk-dpos/test/fixtures/delegate_address_list.json
  protocol-specs/generator_outputs/dpos_delegate_shuffling/uniformly_shuffled_delegate_list.json
  protocol-specs/generators/dpos_delegate_shuffling/delegate_address_list.json
Due: prettier --write, tslint --format verbose

previousDelegateAddresses -> addresses and relative symlink
  elements/lisk-dpos/src/delegates_list.ts
Due: prettier --write, tslint --format verbose

Improve variable names in test and symlink protocol-spec folder
  elements/lisk-dpos/src/delegates_list.ts
  elements/lisk-dpos/test/fixtures/delegate_address_list.json
  elements/lisk-dpos/test/fixtures/dpos_delegate_shuffling
  elements/lisk-dpos/test/unit/shuffled_delegate_list_by_random_seed.spec.ts
Due: prettier --write, tslint --format verbose

:seedling: Update forgers list to take from vote weights list
  elements/lisk-bft/package.json
  elements/lisk-bft/src/finality_manager.ts
  elements/lisk-bft/src/types.ts
  elements/lisk-bft/test/protocol_specs/bft_finality_manager_protocol_specs.spec.ts
  elements/lisk-bft/test/protocol_specs/bft_invalid_block_headers_protocol_specs.spec.ts
  elements/lisk-dpos/src/constants.ts
  elements/lisk-dpos/src/delegates_info.ts
  elements/lisk-dpos/src/delegates_list.ts
  elements/lisk-dpos/src/dpos.ts
  elements/lisk-dpos/src/types.ts
  elements/lisk-dpos/test/fixtures/constants.ts
  elements/lisk-dpos/test/fixtures/delegate_publickeys.json
  elements/lisk-dpos/test/fixtures/dpos_forger_selection
  elements/lisk-dpos/test/unit/apply.spec.ts
  elements/lisk-dpos/test/unit/forgers_list_selection.spec.ts
  elements/lisk-dpos/test/unit/get_forger_addresses_for_round.spec.ts
  elements/lisk-dpos/test/unit/get_min_height_active.spec.ts
  elements/lisk-dpos/test/unit/undo.spec.ts
  elements/lisk-dpos/test/unit/verify_block_forger.spec.ts
  elements/lisk-dpos/test/unit/vote_weight_snapshot.spec.ts
  elements/lisk-dpos/test/utils/round_delegates.ts
  framework/src/application/node/block_processor_v2.js
  framework/src/application/node/forger/forger.js
  framework/test/jest/integration/specs/application/node/__snapshots__/genesis_block.spec.js.snap
  framework/test/jest/integration/specs/application/node/genesis_block.spec.js
  framework/test/jest/unit/specs/application/node/block_processor_v2.spec.js
  framework/test/jest/unit/specs/application/node/forger/forger.spec.js
  framework/test/utils/node/block.js
  framework/test/utils/node/delegate.js
  protocol-specs/generator_outputs/dpos_forger_selection/dpos_forger_selection_more_than_2_standby.json
  protocol-specs/generators/dpos_forger_selection/index.js
Due: prettier --write, eslint, tslint --format verbose

:recycle: Update not to check equality of # of random seed with # of standby delegates
  elements/lisk-dpos/src/delegates_list.ts
Due: prettier --write, tslint --format verbose

:seedling: Integrate shuffling function
  elements/lisk-dpos/src/delegates_list.ts
  elements/lisk-dpos/test/fixtures/dpos_delegate_shuffling
  elements/lisk-dpos/test/unit/shuffled_delegate_list_by_random_seed.spec.ts
  framework/test/jest/integration/specs/application/node/__snapshots__/genesis_block.spec.js.snap
Due: prettier --write, tslint --format verbose

:recycle: Fix merge mistake
  elements/lisk-chain/test/utils/block.ts
Due: prettier --write, tslint --format verbose

:seedling: Update devnet genesis block and tests to reflect new vote transaction and seedReveal
  elements/lisk-bft/test/fixtures/accounts.ts
  elements/lisk-chain/test/fixtures/default_account.ts
  elements/lisk-chain/test/fixtures/genesis_block.json
  elements/lisk-chain/test/unit/chain.spec.ts
  elements/lisk-chain/test/unit/data_access/data_access.spec.ts
  elements/lisk-chain/test/unit/data_access/storage.spec.ts
  elements/lisk-chain/test/unit/process.spec.ts
  elements/lisk-chain/test/unit/state_store_account.spec.ts
  elements/lisk-chain/test/unit/transaction_interface_adapter.spec.ts
  elements/lisk-chain/test/utils/block.ts
  elements/lisk-chain/test/utils/registered_transactions.ts
  framework/src/modules/http_api/schema/swagger.yml
  framework/test/fixtures/accounts.js
  framework/test/fixtures/config/devnet/config.json
  framework/test/fixtures/config/devnet/delegates_for_first_round.json
  framework/test/fixtures/config/devnet/genesis_block.json
  framework/test/fixtures/rounds.js
  framework/test/fixtures/transactions.js
  framework/test/jest/integration/specs/application/node/__snapshots__/genesis_block.spec.js.snap
  framework/test/jest/integration/specs/application/node/components/storage/entities/block_temp.spec.js
  framework/test/jest/integration/specs/application/node/genesis_block.spec.js
  framework/test/jest/unit/specs/application/__snapshots__/application.spec.js.snap
  framework/test/jest/unit/specs/application/node/block_processor_v2.spec.js
  framework/test/jest/unit/specs/application/node/forger/forger.spec.js
  framework/test/jest/unit/specs/application/node/synchronizer/block.js
  framework/test/mocha/data/genesis_delegates.json
  framework/test/mocha/functional/http/get/blocks.js
  framework/test/mocha/functional/http/get/node/node.js
  framework/test/mocha/functional/http/get/transactions.js
  framework/test/mocha/unit/modules/http_api/controllers/blocks.js
  framework/test/utils/network_identifier.js
  framework/test/utils/registered_transactions.js
  sdk/src/samples/config_devnet.json
  sdk/src/samples/genesis_block_devnet.json
Due: prettier --write, eslint, tslint --format verbose

:recycle: Update snapshot after merge
  framework/test/jest/integration/specs/application/node/__snapshots__/genesis_block.spec.js.snap
Due: none

:bug: Fix reference to active delegates
  elements/lisk-chain/src/chain.ts
  framework/src/application/node/node.js
  framework/src/application/node/rebuilder.js
  framework/src/application/node/synchronizer/block_synchronization_mechanism.js
  framework/src/application/node/synchronizer/fast_chain_switching_mechanism.js
  framework/src/application/schema/constants_schema.js
  framework/test/jest/integration/specs/application/node/rebuilder/rebuilding.spec.js
  framework/test/jest/unit/specs/application/node/synchronizer/block_synchronization_mechanism/block_synchronization_mechanism.spec.js
  framework/test/jest/unit/specs/application/node/synchronizer/fast_chain_switching_mechanism/fast_chain_switching_mechanism.spec.js
  framework/test/jest/unit/specs/application/schema/__snapshots__/constants_schema.spec.js.snap
Due: prettier --write, eslint, tslint --format verbose

Replace maxTransactionsPerBlock with maxPayloadLength
  elements/lisk-chain/test/unit/chain.spec.ts
  framework/src/application/node/node.js
  framework/src/application/schema/application_config_schema.js
  framework/test/fixtures/config/devnet/config.json
  framework/test/jest/integration/skeletons/modules/chain/blocks/verify.spec.js
  framework/test/jest/unit/specs/application/__snapshots__/application.spec.js.snap
  framework/test/jest/unit/specs/application/application.spec.js
  framework/test/jest/unit/specs/application/node/synchronizer/block_synchronization_mechanism/block_synchronization_mechanism.spec.js
  framework/test/jest/unit/specs/application/node/synchronizer/fast_chain_switching_mechanism/fast_chain_switching_mechanism.spec.js
  framework/test/jest/unit/specs/application/node/synchronizer/synchronizer.spec.js
  framework/test/jest/unit/specs/application/schema/__snapshots__/application_schema.spec.js.snap
  framework/test/mocha/functional/ws/transport/transport.js
  framework/test/utils/configs/config_constants.js
Due: prettier --write, eslint, tslint --format verbose

Add additional test cases
  elements/lisk-transactions/test/15_pom_transaction.spec.ts
  protocol-specs/generator_outputs/proof_of_misbehavior_transaction/proof_of_misbehavior_transaction_scenario_1.json
  protocol-specs/generator_outputs/proof_of_misbehavior_transaction/proof_of_misbehavior_transaction_scenario_2.json
  protocol-specs/generator_outputs/proof_of_misbehavior_transaction/proof_of_misbehavior_transaction_scenario_3.json
  protocol-specs/generators/proof_of_misbehavior_transaction/index.js
Due: prettier --write, eslint, tslint --format verbose

Update it.todo blocks
  elements/lisk-transactions/test/15_pom_transaction.spec.ts
Due: prettier --write, tslint --format verbose

Path conditions:
  prettier --write: ((any of: *.js) or (any of: *.ts)) or (any of: *.{json,md})
  eslint: any of: *.js
  tslint --format verbose: any of: *.ts
